# Dropouts of male / female and all students throut the years

In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
# Read data
dropouts = pd.read_csv('/Users/jw/Documents/Neue_Fische_Bootcamp/capstone_project_hh_23_1/data/graduation_by_gender_jw.csv', encoding='UTF-8', delimiter=';')

In [13]:
# First look at data
dropouts

,Unnamed: 0,Unnamed: 1,Abschluss,Schuljahr,Schuljahr.1,Schuljahr.2,Schuljahr.3,Schuljahr.4,Schuljahr.5,Schuljahr.6,...,Schuljahr.26,Schuljahr.27,Schuljahr.28,Schuljahr.29,Schuljahr.30,Schuljahr.31,Schuljahr.32,Schuljahr.33,Schuljahr.34,Schuljahr.35
0,NaN,NaN,NaN,2009/10,2009/10,2009/10,2010/11,2010/11,2010/11,2011/12,...,2017/18,2018/19,2018/19,2018/19,2019/20,2019/20,2019/20,2020/21,2020/21,2020/21
1,NaN,NaN,NaN,Geschlecht,Geschlecht,Geschlecht,Geschlecht,Geschlecht,Geschlecht,Geschlecht,...,Geschlecht,Geschlecht,Geschlecht,Geschlecht,Geschlecht,Geschlecht,Geschlecht,Geschlecht,Geschlecht,Geschlecht
2,NaN,NaN,NaN,männlich,weiblich,Insgesamt,männlich,weiblich,Insgesamt,männlich,...,Insgesamt,männlich,weiblich,Insgesamt,männlich,weiblich,Insgesamt,männlich,weiblich,Insgesamt
3,Baden-Württemberg,Hauptschulen,Ohne Hauptschulabschluss,784,491,1275,679,443,1122,675,...,1588,629,364,993,406,282,688,534,307,841
4,Baden-Württemberg,Hauptschulen,Hauptschulabschluss,16042,12706,28748,15184,12076,27260,10944,...,11630,5270,3676,8946,3476,2509,5985,2849,1940,4789
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
866,Thüringen,Insgesamt,Insgesamt,7644,7358,15002,6893,6517,13410,6981,...,17555,9379,8886,18265,8962,8533,17495,8983,8540,17523
867,__________,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
868,Ab 2012/13:\nMittlerer Schulabschluss einschli...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
869,"© Statistisches Bundesamt (Destatis), 2022",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
870,Stand: 13.04.2023 / 12:47:51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
# sort by 'ohne Haupschulabschluss' as dropouts_oh
dropouts_oh = dropouts[dropouts['Abschluss'] == 'Ohne Hauptschulabschluss']

# save df as csv
dropouts_oh.to_csv('/Users/jw/Documents/Neue_Fische_Bootcamp/capstone_project_hh_23_1/data/graduation_by_gender_jw2.csv', index=False)

dropouts_oh

,Unnamed: 0,Unnamed: 1,Abschluss,Schuljahr,Schuljahr.1,Schuljahr.2,Schuljahr.3,Schuljahr.4,Schuljahr.5,Schuljahr.6,...,Schuljahr.26,Schuljahr.27,Schuljahr.28,Schuljahr.29,Schuljahr.30,Schuljahr.31,Schuljahr.32,Schuljahr.33,Schuljahr.34,Schuljahr.35
3,Baden-Württemberg,Hauptschulen,Ohne Hauptschulabschluss,784,491,1275,679,443,1122,675,...,1588,629,364,993,406,282,688,534,307,841
9,Baden-Württemberg,Schularten mit mehreren Bildungsgängen,Ohne Hauptschulabschluss,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
15,Baden-Württemberg,Realschulen,Ohne Hauptschulabschluss,521,322,843,457,320,777,462,...,922,514,271,785,185,130,315,349,233,582
21,Baden-Württemberg,Gymnasien (G9),Ohne Hauptschulabschluss,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
27,Baden-Württemberg,Gymnasien (G8),Ohne Hauptschulabschluss,73,52,125,79,82,161,100,...,284,152,88,240,37,16,53,78,48,126
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
837,Thüringen,Gymnasien (G8),Ohne Hauptschulabschluss,-,1,1,1,-,1,1,...,13,3,3,6,6,1,7,5,1,6
843,Thüringen,Integrierte Gesamtschulen,Ohne Hauptschulabschluss,1,2,3,5,3,8,2,...,181,159,83,242,117,71,188,146,78,224
849,Thüringen,Freie Waldorfschulen,Ohne Hauptschulabschluss,-,2,2,-,2,2,-,...,11,2,3,5,11,3,14,1,3,4
855,Thüringen,Förderschulen,Ohne Hauptschulabschluss,497,282,779,442,292,734,380,...,544,314,191,505,299,175,474,302,166,468
861,Thüringen,Insgesamt,Ohne Hauptschulabschluss,771,495,1266,702,455,1157,675,...,1620,1066,561,1627,821,481,1302,927,526,1453

In [15]:
#create df for all federal states by iloc

# Read data
dropouts_filtered = pd.read_csv('/Users/jw/Documents/Neue_Fische_Bootcamp/capstone_project_hh_23_1/data/graduation_by_gender_jw2.csv', encoding='UTF-8')

In [16]:
# Umbenennen des Headers
dropouts_filtered.rename(columns={'Unnamed: 0': 'Bundesland', 'Unnamed: 1': 'Schule',
                                'Schuljahr': '2010m', 'Schuljahr.1': '2010w', 'Schuljahr.2': '2010g',
                                'Schuljahr.3': '2011m', 'Schuljahr.4': '2011w', 'Schuljahr.5': '2011g',
                                'Schuljahr.6': '2012m', 'Schuljahr.7': '2012w', 'Schuljahr.8': '2012g',
                                'Schuljahr.9': '2013m', 'Schuljahr.10': '2013w', 'Schuljahr.11': '2013g',
                                'Schuljahr.12': '2014m', 'Schuljahr.13': '2014w', 'Schuljahr.14': '2014g',
                                'Schuljahr.15': '2015m', 'Schuljahr.16': '2015w', 'Schuljahr.17': '2015g',
                                'Schuljahr.18': '2016m', 'Schuljahr.19': '2016w', 'Schuljahr.20': '2016g',
                                'Schuljahr.21': '2017m', 'Schuljahr.22': '2017w', 'Schuljahr.23': '2017g',
                                'Schuljahr.24': '2018m', 'Schuljahr.25': '2018w', 'Schuljahr.26': '2018g',
                                'Schuljahr.27': '2019m', 'Schuljahr.28': '2019w', 'Schuljahr.29': '2019g',
                                'Schuljahr.30': '2020m', 'Schuljahr.31': '2020w', 'Schuljahr.32': '2020g',
                                'Schuljahr.33': '2021m', 'Schuljahr.34': '2021w', 'Schuljahr.35': '2021g'})

,Bundesland,Schule,Abschluss,2010m,2010w,2010g,2011m,2011w,2011g,2012m,...,2018g,2019m,2019w,2019g,2020m,2020w,2020g,2021m,2021w,2021g
0,Baden-Württemberg,Hauptschulen,Ohne Hauptschulabschluss,784,491,1275,679,443,1122,675,...,1588,629,364,993,406,282,688,534,307,841
1,Baden-Württemberg,Schularten mit mehreren Bildungsgängen,Ohne Hauptschulabschluss,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
2,Baden-Württemberg,Realschulen,Ohne Hauptschulabschluss,521,322,843,457,320,777,462,...,922,514,271,785,185,130,315,349,233,582
3,Baden-Württemberg,Gymnasien (G9),Ohne Hauptschulabschluss,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
4,Baden-Württemberg,Gymnasien (G8),Ohne Hauptschulabschluss,73,52,125,79,82,161,100,...,284,152,88,240,37,16,53,78,48,126
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,Thüringen,Gymnasien (G8),Ohne Hauptschulabschluss,-,1,1,1,-,1,1,...,13,3,3,6,6,1,7,5,1,6
140,Thüringen,Integrierte Gesamtschulen,Ohne Hauptschulabschluss,1,2,3,5,3,8,2,...,181,159,83,242,117,71,188,146,78,224
141,Thüringen,Freie Waldorfschulen,Ohne Hauptschulabschluss,-,2,2,-,2,2,-,...,11,2,3,5,11,3,14,1,3,4
142,Thüringen,Förderschulen,Ohne Hauptschulabschluss,497,282,779,442,292,734,380,...,544,314,191,505,299,175,474,302,166,468
143,Thüringen,Insgesamt,Ohne Hauptschulabschluss,771,495,1266,702,455,1157,675,...,1620,1066,561,1627,821,481,1302,927,526,1453

In [17]:
# wieviel zeilen umfasst jedes Bundesland?
dropouts_filtered.head(10)

,Unnamed: 0,Unnamed: 1,Abschluss,Schuljahr,Schuljahr.1,Schuljahr.2,Schuljahr.3,Schuljahr.4,Schuljahr.5,Schuljahr.6,...,Schuljahr.26,Schuljahr.27,Schuljahr.28,Schuljahr.29,Schuljahr.30,Schuljahr.31,Schuljahr.32,Schuljahr.33,Schuljahr.34,Schuljahr.35
0,Baden-Württemberg,Hauptschulen,Ohne Hauptschulabschluss,784,491,1275,679,443,1122,675,...,1588,629,364,993,406,282,688,534,307,841
1,Baden-Württemberg,Schularten mit mehreren Bildungsgängen,Ohne Hauptschulabschluss,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
2,Baden-Württemberg,Realschulen,Ohne Hauptschulabschluss,521,322,843,457,320,777,462,...,922,514,271,785,185,130,315,349,233,582
3,Baden-Württemberg,Gymnasien (G9),Ohne Hauptschulabschluss,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
4,Baden-Württemberg,Gymnasien (G8),Ohne Hauptschulabschluss,73,52,125,79,82,161,100,...,284,152,88,240,37,16,53,78,48,126
5,Baden-Württemberg,Integrierte Gesamtschulen,Ohne Hauptschulabschluss,1,4,5,1,1,2,1,...,407,351,229,580,498,342,840,576,334,910
6,Baden-Württemberg,Freie Waldorfschulen,Ohne Hauptschulabschluss,18,29,47,22,21,43,32,...,121,51,54,105,33,44,77,23,35,58
7,Baden-Württemberg,Förderschulen,Ohne Hauptschulabschluss,2401,1549,3950,2294,1523,3817,2305,...,3629,2238,1340,3578,2325,1314,3639,2300,1392,3692
8,Baden-Württemberg,Insgesamt,Ohne Hauptschulabschluss,3798,2447,6245,3532,2390,5922,3575,...,6951,3935,2346,6281,3484,2128,5612,3860,2349,6209
9,Bayern,Hauptschulen,Ohne Hauptschulabschluss,1776,930,2706,1463,826,2289,1519,...,3349,2199,1148,3347,1593,931,2524,1672,901,2573

# iloc für jedes Bundesland

In [18]:
dropouts_bw = dropouts_filtered.iloc[0:9]

dropouts_bw.rename(columns={'Unnamed: 0': 'Bundesland', 'Unnamed: 1': 'Schule',
                                'Schuljahr': '2010m', 'Schuljahr.1': '2010w', 'Schuljahr.2': '2010g',
                                'Schuljahr.3': '2011m', 'Schuljahr.4': '2011w', 'Schuljahr.5': '2011g',
                                'Schuljahr.6': '2012m', 'Schuljahr.7': '2012w', 'Schuljahr.8': '2012g',
                                'Schuljahr.9': '2013m', 'Schuljahr.10': '2013w', 'Schuljahr.11': '2013g',
                                'Schuljahr.12': '2014m', 'Schuljahr.13': '2014w', 'Schuljahr.14': '2014g',
                                'Schuljahr.15': '2015m', 'Schuljahr.16': '2015w', 'Schuljahr.17': '2015g',
                                'Schuljahr.18': '2016m', 'Schuljahr.19': '2016w', 'Schuljahr.20': '2016g',
                                'Schuljahr.21': '2017m', 'Schuljahr.22': '2017w', 'Schuljahr.23': '2017g',
                                'Schuljahr.24': '2018m', 'Schuljahr.25': '2018w', 'Schuljahr.26': '2018g',
                                'Schuljahr.27': '2019m', 'Schuljahr.28': '2019w', 'Schuljahr.29': '2019g',
                                'Schuljahr.30': '2020m', 'Schuljahr.31': '2020w', 'Schuljahr.32': '2020g',
                                'Schuljahr.33': '2021m', 'Schuljahr.34': '2021w', 'Schuljahr.35': '2021g'})

,Bundesland,Schule,Abschluss,2010m,2010w,2010g,2011m,2011w,2011g,2012m,...,2018g,2019m,2019w,2019g,2020m,2020w,2020g,2021m,2021w,2021g
0,Baden-Württemberg,Hauptschulen,Ohne Hauptschulabschluss,784,491,1275,679,443,1122,675,...,1588,629,364,993,406,282,688,534,307,841
1,Baden-Württemberg,Schularten mit mehreren Bildungsgängen,Ohne Hauptschulabschluss,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
2,Baden-Württemberg,Realschulen,Ohne Hauptschulabschluss,521,322,843,457,320,777,462,...,922,514,271,785,185,130,315,349,233,582
3,Baden-Württemberg,Gymnasien (G9),Ohne Hauptschulabschluss,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
4,Baden-Württemberg,Gymnasien (G8),Ohne Hauptschulabschluss,73,52,125,79,82,161,100,...,284,152,88,240,37,16,53,78,48,126
5,Baden-Württemberg,Integrierte Gesamtschulen,Ohne Hauptschulabschluss,1,4,5,1,1,2,1,...,407,351,229,580,498,342,840,576,334,910
6,Baden-Württemberg,Freie Waldorfschulen,Ohne Hauptschulabschluss,18,29,47,22,21,43,32,...,121,51,54,105,33,44,77,23,35,58
7,Baden-Württemberg,Förderschulen,Ohne Hauptschulabschluss,2401,1549,3950,2294,1523,3817,2305,...,3629,2238,1340,3578,2325,1314,3639,2300,1392,3692
8,Baden-Württemberg,Insgesamt,Ohne Hauptschulabschluss,3798,2447,6245,3532,2390,5922,3575,...,6951,3935,2346,6281,3484,2128,5612,3860,2349,6209

In [19]:
dropouts_by = dropouts_filtered.iloc[9:18]

dropouts_by.rename(columns={'Unnamed: 0': 'Bundesland', 'Unnamed: 1': 'Schule',
                                'Schuljahr': '2010m', 'Schuljahr.1': '2010w', 'Schuljahr.2': '2010g',
                                'Schuljahr.3': '2011m', 'Schuljahr.4': '2011w', 'Schuljahr.5': '2011g',
                                'Schuljahr.6': '2012m', 'Schuljahr.7': '2012w', 'Schuljahr.8': '2012g',
                                'Schuljahr.9': '2013m', 'Schuljahr.10': '2013w', 'Schuljahr.11': '2013g',
                                'Schuljahr.12': '2014m', 'Schuljahr.13': '2014w', 'Schuljahr.14': '2014g',
                                'Schuljahr.15': '2015m', 'Schuljahr.16': '2015w', 'Schuljahr.17': '2015g',
                                'Schuljahr.18': '2016m', 'Schuljahr.19': '2016w', 'Schuljahr.20': '2016g',
                                'Schuljahr.21': '2017m', 'Schuljahr.22': '2017w', 'Schuljahr.23': '2017g',
                                'Schuljahr.24': '2018m', 'Schuljahr.25': '2018w', 'Schuljahr.26': '2018g',
                                'Schuljahr.27': '2019m', 'Schuljahr.28': '2019w', 'Schuljahr.29': '2019g',
                                'Schuljahr.30': '2020m', 'Schuljahr.31': '2020w', 'Schuljahr.32': '2020g',
                                'Schuljahr.33': '2021m', 'Schuljahr.34': '2021w', 'Schuljahr.35': '2021g'})

,Bundesland,Schule,Abschluss,2010m,2010w,2010g,2011m,2011w,2011g,2012m,...,2018g,2019m,2019w,2019g,2020m,2020w,2020g,2021m,2021w,2021g
9,Bayern,Hauptschulen,Ohne Hauptschulabschluss,1776,930,2706,1463,826,2289,1519,...,3349,2199,1148,3347,1593,931,2524,1672,901,2573
10,Bayern,Schularten mit mehreren Bildungsgängen,Ohne Hauptschulabschluss,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
11,Bayern,Realschulen,Ohne Hauptschulabschluss,256,175,431,307,190,497,304,...,657,359,145,504,195,99,294,228,118,346
12,Bayern,Gymnasien (G9),Ohne Hauptschulabschluss,-,-,-,-,-,-,-,...,-,1,1,2,-,1,1,2,2,4
13,Bayern,Gymnasien (G8),Ohne Hauptschulabschluss,117,78,195,131,68,199,97,...,113,54,43,97,23,22,45,37,32,69
14,Bayern,Integrierte Gesamtschulen,Ohne Hauptschulabschluss,5,3,8,6,6,12,4,...,4,3,-,3,1,2,3,-,3,3
15,Bayern,Freie Waldorfschulen,Ohne Hauptschulabschluss,56,48,104,62,55,117,75,...,128,17,14,31,69,67,136,57,62,119
16,Bayern,Förderschulen,Ohne Hauptschulabschluss,2490,1645,4135,2345,1524,3869,1980,...,3163,1817,1173,2990,1809,1152,2961,1918,1122,3040
17,Bayern,Insgesamt,Ohne Hauptschulabschluss,4700,2879,7579,4314,2669,6983,3979,...,7414,4450,2524,6974,3690,2274,5964,3914,2240,6154

In [20]:
dropouts_be = dropouts_filtered.iloc[18:27]

dropouts_be.rename(columns={'Unnamed: 0': 'Bundesland', 'Unnamed: 1': 'Schule',
                                'Schuljahr': '2010m', 'Schuljahr.1': '2010w', 'Schuljahr.2': '2010g',
                                'Schuljahr.3': '2011m', 'Schuljahr.4': '2011w', 'Schuljahr.5': '2011g',
                                'Schuljahr.6': '2012m', 'Schuljahr.7': '2012w', 'Schuljahr.8': '2012g',
                                'Schuljahr.9': '2013m', 'Schuljahr.10': '2013w', 'Schuljahr.11': '2013g',
                                'Schuljahr.12': '2014m', 'Schuljahr.13': '2014w', 'Schuljahr.14': '2014g',
                                'Schuljahr.15': '2015m', 'Schuljahr.16': '2015w', 'Schuljahr.17': '2015g',
                                'Schuljahr.18': '2016m', 'Schuljahr.19': '2016w', 'Schuljahr.20': '2016g',
                                'Schuljahr.21': '2017m', 'Schuljahr.22': '2017w', 'Schuljahr.23': '2017g',
                                'Schuljahr.24': '2018m', 'Schuljahr.25': '2018w', 'Schuljahr.26': '2018g',
                                'Schuljahr.27': '2019m', 'Schuljahr.28': '2019w', 'Schuljahr.29': '2019g',
                                'Schuljahr.30': '2020m', 'Schuljahr.31': '2020w', 'Schuljahr.32': '2020g',
                                'Schuljahr.33': '2021m', 'Schuljahr.34': '2021w', 'Schuljahr.35': '2021g'})

,Bundesland,Schule,Abschluss,2010m,2010w,2010g,2011m,2011w,2011g,2012m,...,2018g,2019m,2019w,2019g,2020m,2020w,2020g,2021m,2021w,2021g
18,Berlin,Hauptschulen,Ohne Hauptschulabschluss,637,421,1058,574,356,930,418,...,-,-,-,-,-,-,-,-,-,-
19,Berlin,Schularten mit mehreren Bildungsgängen,Ohne Hauptschulabschluss,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
20,Berlin,Realschulen,Ohne Hauptschulabschluss,149,100,249,88,67,155,98,...,-,-,-,-,-,-,-,-,-,-
21,Berlin,Gymnasien (G9),Ohne Hauptschulabschluss,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
22,Berlin,Gymnasien (G8),Ohne Hauptschulabschluss,19,17,36,27,18,45,23,...,293,73,60,133,49,51,100,75,93,168
23,Berlin,Integrierte Gesamtschulen,Ohne Hauptschulabschluss,352,274,626,359,280,639,400,...,1988,1238,788,2026,901,549,1450,837,527,1364
24,Berlin,Freie Waldorfschulen,Ohne Hauptschulabschluss,1,2,3,-,3,3,5,...,14,4,9,13,9,10,19,2,5,7
25,Berlin,Förderschulen,Ohne Hauptschulabschluss,453,305,758,414,301,715,356,...,660,306,221,527,288,180,468,307,154,461
26,Berlin,Insgesamt,Ohne Hauptschulabschluss,1611,1119,2730,1462,1025,2487,1300,...,2955,1621,1078,2699,1247,790,2037,1221,779,2000

In [21]:
dropouts_bb = dropouts_filtered.iloc[27:36]

dropouts_bb.rename(columns={'Unnamed: 0': 'Bundesland', 'Unnamed: 1': 'Schule',
                                'Schuljahr': '2010m', 'Schuljahr.1': '2010w', 'Schuljahr.2': '2010g',
                                'Schuljahr.3': '2011m', 'Schuljahr.4': '2011w', 'Schuljahr.5': '2011g',
                                'Schuljahr.6': '2012m', 'Schuljahr.7': '2012w', 'Schuljahr.8': '2012g',
                                'Schuljahr.9': '2013m', 'Schuljahr.10': '2013w', 'Schuljahr.11': '2013g',
                                'Schuljahr.12': '2014m', 'Schuljahr.13': '2014w', 'Schuljahr.14': '2014g',
                                'Schuljahr.15': '2015m', 'Schuljahr.16': '2015w', 'Schuljahr.17': '2015g',
                                'Schuljahr.18': '2016m', 'Schuljahr.19': '2016w', 'Schuljahr.20': '2016g',
                                'Schuljahr.21': '2017m', 'Schuljahr.22': '2017w', 'Schuljahr.23': '2017g',
                                'Schuljahr.24': '2018m', 'Schuljahr.25': '2018w', 'Schuljahr.26': '2018g',
                                'Schuljahr.27': '2019m', 'Schuljahr.28': '2019w', 'Schuljahr.29': '2019g',
                                'Schuljahr.30': '2020m', 'Schuljahr.31': '2020w', 'Schuljahr.32': '2020g',
                                'Schuljahr.33': '2021m', 'Schuljahr.34': '2021w', 'Schuljahr.35': '2021g'})

,Bundesland,Schule,Abschluss,2010m,2010w,2010g,2011m,2011w,2011g,2012m,...,2018g,2019m,2019w,2019g,2020m,2020w,2020g,2021m,2021w,2021g
27,Brandenburg,Hauptschulen,Ohne Hauptschulabschluss,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
28,Brandenburg,Schularten mit mehreren Bildungsgängen,Ohne Hauptschulabschluss,263,155,418,246,146,392,277,...,643,410,191,601,184,107,291,287,184,471
29,Brandenburg,Realschulen,Ohne Hauptschulabschluss,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
30,Brandenburg,Gymnasien (G9),Ohne Hauptschulabschluss,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
31,Brandenburg,Gymnasien (G8),Ohne Hauptschulabschluss,8,8,16,6,6,12,6,...,15,9,8,17,1,4,5,9,4,13
32,Brandenburg,Integrierte Gesamtschulen,Ohne Hauptschulabschluss,82,22,104,42,23,65,34,...,77,71,37,108,14,15,29,52,32,84
33,Brandenburg,Freie Waldorfschulen,Ohne Hauptschulabschluss,1,1,2,2,1,3,-,...,8,2,-,2,1,-,1,3,4,7
34,Brandenburg,Förderschulen,Ohne Hauptschulabschluss,685,404,1089,566,373,939,608,...,885,504,347,851,511,297,808,495,320,815
35,Brandenburg,Insgesamt,Ohne Hauptschulabschluss,1039,590,1629,862,549,1411,925,...,1628,996,583,1579,711,423,1134,846,544,1390

In [22]:
dropouts_hb = dropouts_filtered.iloc[36:45]

dropouts_hb.rename(columns={'Unnamed: 0': 'Bundesland', 'Unnamed: 1': 'Schule',
                                'Schuljahr': '2010m', 'Schuljahr.1': '2010w', 'Schuljahr.2': '2010g',
                                'Schuljahr.3': '2011m', 'Schuljahr.4': '2011w', 'Schuljahr.5': '2011g',
                                'Schuljahr.6': '2012m', 'Schuljahr.7': '2012w', 'Schuljahr.8': '2012g',
                                'Schuljahr.9': '2013m', 'Schuljahr.10': '2013w', 'Schuljahr.11': '2013g',
                                'Schuljahr.12': '2014m', 'Schuljahr.13': '2014w', 'Schuljahr.14': '2014g',
                                'Schuljahr.15': '2015m', 'Schuljahr.16': '2015w', 'Schuljahr.17': '2015g',
                                'Schuljahr.18': '2016m', 'Schuljahr.19': '2016w', 'Schuljahr.20': '2016g',
                                'Schuljahr.21': '2017m', 'Schuljahr.22': '2017w', 'Schuljahr.23': '2017g',
                                'Schuljahr.24': '2018m', 'Schuljahr.25': '2018w', 'Schuljahr.26': '2018g',
                                'Schuljahr.27': '2019m', 'Schuljahr.28': '2019w', 'Schuljahr.29': '2019g',
                                'Schuljahr.30': '2020m', 'Schuljahr.31': '2020w', 'Schuljahr.32': '2020g',
                                'Schuljahr.33': '2021m', 'Schuljahr.34': '2021w', 'Schuljahr.35': '2021g'})

,Bundesland,Schule,Abschluss,2010m,2010w,2010g,2011m,2011w,2011g,2012m,...,2018g,2019m,2019w,2019g,2020m,2020w,2020g,2021m,2021w,2021g
36,Bremen,Hauptschulen,Ohne Hauptschulabschluss,-,-,-,-,1,1,-,...,-,-,-,-,-,-,-,-,-,-
37,Bremen,Schularten mit mehreren Bildungsgängen,Ohne Hauptschulabschluss,50,24,74,36,23,59,24,...,-,1,-,1,-,-,-,-,-,-
38,Bremen,Realschulen,Ohne Hauptschulabschluss,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
39,Bremen,Gymnasien (G9),Ohne Hauptschulabschluss,-,-,-,-,-,-,-,...,14,6,6,12,6,3,9,6,2,8
40,Bremen,Gymnasien (G8),Ohne Hauptschulabschluss,9,5,14,2,-,2,3,...,8,16,6,22,6,11,17,10,9,19
41,Bremen,Integrierte Gesamtschulen,Ohne Hauptschulabschluss,57,52,109,69,54,123,105,...,484,309,227,536,314,224,538,333,232,565
42,Bremen,Freie Waldorfschulen,Ohne Hauptschulabschluss,-,-,-,-,1,1,-,...,-,-,-,-,1,-,1,1,-,1
43,Bremen,Förderschulen,Ohne Hauptschulabschluss,113,60,173,187,109,296,113,...,58,26,10,36,17,11,28,7,12,19
44,Bremen,Insgesamt,Ohne Hauptschulabschluss,229,141,370,294,188,482,245,...,564,358,249,607,344,249,593,357,255,612

In [23]:
dropouts_hh = dropouts_filtered.iloc[45:54]

dropouts_hh.rename(columns={'Unnamed: 0': 'Bundesland', 'Unnamed: 1': 'Schule',
                                'Schuljahr': '2010m', 'Schuljahr.1': '2010w', 'Schuljahr.2': '2010g',
                                'Schuljahr.3': '2011m', 'Schuljahr.4': '2011w', 'Schuljahr.5': '2011g',
                                'Schuljahr.6': '2012m', 'Schuljahr.7': '2012w', 'Schuljahr.8': '2012g',
                                'Schuljahr.9': '2013m', 'Schuljahr.10': '2013w', 'Schuljahr.11': '2013g',
                                'Schuljahr.12': '2014m', 'Schuljahr.13': '2014w', 'Schuljahr.14': '2014g',
                                'Schuljahr.15': '2015m', 'Schuljahr.16': '2015w', 'Schuljahr.17': '2015g',
                                'Schuljahr.18': '2016m', 'Schuljahr.19': '2016w', 'Schuljahr.20': '2016g',
                                'Schuljahr.21': '2017m', 'Schuljahr.22': '2017w', 'Schuljahr.23': '2017g',
                                'Schuljahr.24': '2018m', 'Schuljahr.25': '2018w', 'Schuljahr.26': '2018g',
                                'Schuljahr.27': '2019m', 'Schuljahr.28': '2019w', 'Schuljahr.29': '2019g',
                                'Schuljahr.30': '2020m', 'Schuljahr.31': '2020w', 'Schuljahr.32': '2020g',
                                'Schuljahr.33': '2021m', 'Schuljahr.34': '2021w', 'Schuljahr.35': '2021g'})

,Bundesland,Schule,Abschluss,2010m,2010w,2010g,2011m,2011w,2011g,2012m,...,2018g,2019m,2019w,2019g,2020m,2020w,2020g,2021m,2021w,2021g
45,Hamburg,Hauptschulen,Ohne Hauptschulabschluss,99,59,158,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
46,Hamburg,Schularten mit mehreren Bildungsgängen,Ohne Hauptschulabschluss,55,32,87,134,102,236,125,...,-,-,-,-,-,-,-,-,-,-
47,Hamburg,Realschulen,Ohne Hauptschulabschluss,14,8,22,2,3,5,-,...,-,-,-,-,-,-,-,-,-,-
48,Hamburg,Gymnasien (G9),Ohne Hauptschulabschluss,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
49,Hamburg,Gymnasien (G8),Ohne Hauptschulabschluss,2,2,4,1,1,2,2,...,27,15,6,21,19,11,30,8,7,15
50,Hamburg,Integrierte Gesamtschulen,Ohne Hauptschulabschluss,125,128,253,86,87,173,96,...,676,366,216,582,424,283,707,384,206,590
51,Hamburg,Freie Waldorfschulen,Ohne Hauptschulabschluss,-,-,-,-,-,-,-,...,-,-,-,-,2,2,4,3,2,5
52,Hamburg,Förderschulen,Ohne Hauptschulabschluss,413,287,700,368,236,604,357,...,381,225,150,375,252,126,378,209,126,335
53,Hamburg,Insgesamt,Ohne Hauptschulabschluss,708,516,1224,591,429,1020,580,...,1084,606,372,978,697,422,1119,604,341,945

In [24]:
dropouts_he = dropouts_filtered.iloc[54:63]

dropouts_he.rename(columns={'Unnamed: 0': 'Bundesland', 'Unnamed: 1': 'Schule',
                                'Schuljahr': '2010m', 'Schuljahr.1': '2010w', 'Schuljahr.2': '2010g',
                                'Schuljahr.3': '2011m', 'Schuljahr.4': '2011w', 'Schuljahr.5': '2011g',
                                'Schuljahr.6': '2012m', 'Schuljahr.7': '2012w', 'Schuljahr.8': '2012g',
                                'Schuljahr.9': '2013m', 'Schuljahr.10': '2013w', 'Schuljahr.11': '2013g',
                                'Schuljahr.12': '2014m', 'Schuljahr.13': '2014w', 'Schuljahr.14': '2014g',
                                'Schuljahr.15': '2015m', 'Schuljahr.16': '2015w', 'Schuljahr.17': '2015g',
                                'Schuljahr.18': '2016m', 'Schuljahr.19': '2016w', 'Schuljahr.20': '2016g',
                                'Schuljahr.21': '2017m', 'Schuljahr.22': '2017w', 'Schuljahr.23': '2017g',
                                'Schuljahr.24': '2018m', 'Schuljahr.25': '2018w', 'Schuljahr.26': '2018g',
                                'Schuljahr.27': '2019m', 'Schuljahr.28': '2019w', 'Schuljahr.29': '2019g',
                                'Schuljahr.30': '2020m', 'Schuljahr.31': '2020w', 'Schuljahr.32': '2020g',
                                'Schuljahr.33': '2021m', 'Schuljahr.34': '2021w', 'Schuljahr.35': '2021g'})

,Bundesland,Schule,Abschluss,2010m,2010w,2010g,2011m,2011w,2011g,2012m,...,2018g,2019m,2019w,2019g,2020m,2020w,2020g,2021m,2021w,2021g
54,Hessen,Hauptschulen,Ohne Hauptschulabschluss,571,429,1000,460,372,832,479,...,606,417,255,672,317,194,511,432,317,749
55,Hessen,Schularten mit mehreren Bildungsgängen,Ohne Hauptschulabschluss,-,-,-,-,-,-,-,...,89,57,27,84,44,25,69,47,37,84
56,Hessen,Realschulen,Ohne Hauptschulabschluss,111,64,175,92,68,160,88,...,120,80,41,121,17,13,30,43,24,67
57,Hessen,Gymnasien (G9),Ohne Hauptschulabschluss,2,4,6,1,2,3,2,...,8,5,3,8,1,1,2,6,2,8
58,Hessen,Gymnasien (G8),Ohne Hauptschulabschluss,-,-,-,24,14,38,23,...,5,3,-,3,-,-,-,-,-,-
59,Hessen,Integrierte Gesamtschulen,Ohne Hauptschulabschluss,246,158,404,220,173,393,258,...,626,362,248,610,291,175,466,395,296,691
60,Hessen,Freie Waldorfschulen,Ohne Hauptschulabschluss,-,1,1,-,2,2,7,...,1,2,-,2,2,1,3,-,-,-
61,Hessen,Förderschulen,Ohne Hauptschulabschluss,1426,851,2277,1183,759,1942,1170,...,1556,976,568,1544,935,539,1474,957,596,1553
62,Hessen,Insgesamt,Ohne Hauptschulabschluss,2356,1507,3863,1980,1390,3370,2027,...,3011,1902,1142,3044,1607,948,2555,1880,1272,3152

In [25]:
dropouts_mv = dropouts_filtered.iloc[63:72]

dropouts_mv.rename(columns={'Unnamed: 0': 'Bundesland', 'Unnamed: 1': 'Schule',
                                'Schuljahr': '2010m', 'Schuljahr.1': '2010w', 'Schuljahr.2': '2010g',
                                'Schuljahr.3': '2011m', 'Schuljahr.4': '2011w', 'Schuljahr.5': '2011g',
                                'Schuljahr.6': '2012m', 'Schuljahr.7': '2012w', 'Schuljahr.8': '2012g',
                                'Schuljahr.9': '2013m', 'Schuljahr.10': '2013w', 'Schuljahr.11': '2013g',
                                'Schuljahr.12': '2014m', 'Schuljahr.13': '2014w', 'Schuljahr.14': '2014g',
                                'Schuljahr.15': '2015m', 'Schuljahr.16': '2015w', 'Schuljahr.17': '2015g',
                                'Schuljahr.18': '2016m', 'Schuljahr.19': '2016w', 'Schuljahr.20': '2016g',
                                'Schuljahr.21': '2017m', 'Schuljahr.22': '2017w', 'Schuljahr.23': '2017g',
                                'Schuljahr.24': '2018m', 'Schuljahr.25': '2018w', 'Schuljahr.26': '2018g',
                                'Schuljahr.27': '2019m', 'Schuljahr.28': '2019w', 'Schuljahr.29': '2019g',
                                'Schuljahr.30': '2020m', 'Schuljahr.31': '2020w', 'Schuljahr.32': '2020g',
                                'Schuljahr.33': '2021m', 'Schuljahr.34': '2021w', 'Schuljahr.35': '2021g'})

,Bundesland,Schule,Abschluss,2010m,2010w,2010g,2011m,2011w,2011g,2012m,...,2018g,2019m,2019w,2019g,2020m,2020w,2020g,2021m,2021w,2021g
63,Mecklenburg-Vorpommern,Hauptschulen,Ohne Hauptschulabschluss,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
64,Mecklenburg-Vorpommern,Schularten mit mehreren Bildungsgängen,Ohne Hauptschulabschluss,233,122,355,171,123,294,167,...,533,341,201,542,204,105,309,316,188,504
65,Mecklenburg-Vorpommern,Realschulen,Ohne Hauptschulabschluss,1,-,1,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
66,Mecklenburg-Vorpommern,Gymnasien (G9),Ohne Hauptschulabschluss,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
67,Mecklenburg-Vorpommern,Gymnasien (G8),Ohne Hauptschulabschluss,1,-,1,-,1,1,-,...,6,3,2,5,1,2,3,2,1,3
68,Mecklenburg-Vorpommern,Integrierte Gesamtschulen,Ohne Hauptschulabschluss,10,12,22,17,7,24,28,...,50,33,29,62,19,17,36,23,16,39
69,Mecklenburg-Vorpommern,Freie Waldorfschulen,Ohne Hauptschulabschluss,1,-,1,-,-,-,2,...,7,-,3,3,1,3,4,3,2,5
70,Mecklenburg-Vorpommern,Förderschulen,Ohne Hauptschulabschluss,632,422,1054,632,394,1026,586,...,598,396,217,613,346,221,567,342,182,524
71,Mecklenburg-Vorpommern,Insgesamt,Ohne Hauptschulabschluss,878,556,1434,820,525,1345,783,...,1194,773,452,1225,571,348,919,686,389,1075

In [26]:
dropouts_ni = dropouts_filtered.iloc[72:81]

dropouts_ni.rename(columns={'Unnamed: 0': 'Bundesland', 'Unnamed: 1': 'Schule',
                                'Schuljahr': '2010m', 'Schuljahr.1': '2010w', 'Schuljahr.2': '2010g',
                                'Schuljahr.3': '2011m', 'Schuljahr.4': '2011w', 'Schuljahr.5': '2011g',
                                'Schuljahr.6': '2012m', 'Schuljahr.7': '2012w', 'Schuljahr.8': '2012g',
                                'Schuljahr.9': '2013m', 'Schuljahr.10': '2013w', 'Schuljahr.11': '2013g',
                                'Schuljahr.12': '2014m', 'Schuljahr.13': '2014w', 'Schuljahr.14': '2014g',
                                'Schuljahr.15': '2015m', 'Schuljahr.16': '2015w', 'Schuljahr.17': '2015g',
                                'Schuljahr.18': '2016m', 'Schuljahr.19': '2016w', 'Schuljahr.20': '2016g',
                                'Schuljahr.21': '2017m', 'Schuljahr.22': '2017w', 'Schuljahr.23': '2017g',
                                'Schuljahr.24': '2018m', 'Schuljahr.25': '2018w', 'Schuljahr.26': '2018g',
                                'Schuljahr.27': '2019m', 'Schuljahr.28': '2019w', 'Schuljahr.29': '2019g',
                                'Schuljahr.30': '2020m', 'Schuljahr.31': '2020w', 'Schuljahr.32': '2020g',
                                'Schuljahr.33': '2021m', 'Schuljahr.34': '2021w', 'Schuljahr.35': '2021g'})

,Bundesland,Schule,Abschluss,2010m,2010w,2010g,2011m,2011w,2011g,2012m,...,2018g,2019m,2019w,2019g,2020m,2020w,2020g,2021m,2021w,2021g
72,Niedersachsen,Hauptschulen,Ohne Hauptschulabschluss,1288,816,2104,1171,807,1978,1110,...,1188,725,405,1130,518,356,874,500,309,809
73,Niedersachsen,Schularten mit mehreren Bildungsgängen,Ohne Hauptschulabschluss,-,-,-,-,-,-,-,...,1232,1004,625,1629,818,527,1345,787,528,1315
74,Niedersachsen,Realschulen,Ohne Hauptschulabschluss,89,44,133,71,50,121,91,...,178,102,68,170,59,23,82,48,39,87
75,Niedersachsen,Gymnasien (G9),Ohne Hauptschulabschluss,-,-,-,-,-,-,-,...,52,47,39,86,10,9,19,13,8,21
76,Niedersachsen,Gymnasien (G8),Ohne Hauptschulabschluss,19,11,30,12,11,23,18,...,-,-,-,-,-,-,-,-,-,-
77,Niedersachsen,Integrierte Gesamtschulen,Ohne Hauptschulabschluss,67,42,109,71,50,121,42,...,479,369,238,607,339,280,619,382,259,641
78,Niedersachsen,Freie Waldorfschulen,Ohne Hauptschulabschluss,-,-,-,-,-,-,-,...,4,6,3,9,7,2,9,5,7,12
79,Niedersachsen,Förderschulen,Ohne Hauptschulabschluss,1824,1018,2842,1765,1077,2842,1638,...,1960,1160,633,1793,1075,589,1664,1126,579,1705
80,Niedersachsen,Insgesamt,Ohne Hauptschulabschluss,3287,1931,5218,3090,1995,5085,2899,...,5093,3413,2011,5424,2826,1786,4612,2861,1729,4590

In [27]:
dropouts_nrw = dropouts_filtered.iloc[81:90]

dropouts_nrw.rename(columns={'Unnamed: 0': 'Bundesland', 'Unnamed: 1': 'Schule',
                                'Schuljahr': '2010m', 'Schuljahr.1': '2010w', 'Schuljahr.2': '2010g',
                                'Schuljahr.3': '2011m', 'Schuljahr.4': '2011w', 'Schuljahr.5': '2011g',
                                'Schuljahr.6': '2012m', 'Schuljahr.7': '2012w', 'Schuljahr.8': '2012g',
                                'Schuljahr.9': '2013m', 'Schuljahr.10': '2013w', 'Schuljahr.11': '2013g',
                                'Schuljahr.12': '2014m', 'Schuljahr.13': '2014w', 'Schuljahr.14': '2014g',
                                'Schuljahr.15': '2015m', 'Schuljahr.16': '2015w', 'Schuljahr.17': '2015g',
                                'Schuljahr.18': '2016m', 'Schuljahr.19': '2016w', 'Schuljahr.20': '2016g',
                                'Schuljahr.21': '2017m', 'Schuljahr.22': '2017w', 'Schuljahr.23': '2017g',
                                'Schuljahr.24': '2018m', 'Schuljahr.25': '2018w', 'Schuljahr.26': '2018g',
                                'Schuljahr.27': '2019m', 'Schuljahr.28': '2019w', 'Schuljahr.29': '2019g',
                                'Schuljahr.30': '2020m', 'Schuljahr.31': '2020w', 'Schuljahr.32': '2020g',
                                'Schuljahr.33': '2021m', 'Schuljahr.34': '2021w', 'Schuljahr.35': '2021g'})

,Bundesland,Schule,Abschluss,2010m,2010w,2010g,2011m,2011w,2011g,2012m,...,2018g,2019m,2019w,2019g,2020m,2020w,2020g,2021m,2021w,2021g
81,Nordrhein-Westfalen,Hauptschulen,Ohne Hauptschulabschluss,2267,1442,3709,1955,1322,3277,1876,...,2495,1317,819,2136,864,594,1458,945,655,1600
82,Nordrhein-Westfalen,Schularten mit mehreren Bildungsgängen,Ohne Hauptschulabschluss,-,-,-,-,-,-,-,...,351,372,237,609,339,216,555,390,205,595
83,Nordrhein-Westfalen,Realschulen,Ohne Hauptschulabschluss,331,214,545,287,204,491,265,...,878,570,378,948,390,252,642,485,315,795
84,Nordrhein-Westfalen,Gymnasien (G9),Ohne Hauptschulabschluss,-,-,-,-,-,-,3,...,10,15,15,30,9,12,21,10,15,25
85,Nordrhein-Westfalen,Gymnasien (G8),Ohne Hauptschulabschluss,81,72,153,144,107,251,173,...,1011,354,276,630,294,222,516,285,265,550
86,Nordrhein-Westfalen,Integrierte Gesamtschulen,Ohne Hauptschulabschluss,515,419,934,451,364,815,387,...,1269,966,669,1635,873,537,1410,865,575,1440
87,Nordrhein-Westfalen,Freie Waldorfschulen,Ohne Hauptschulabschluss,-,-,-,-,-,-,-,...,38,24,27,51,21,18,39,10,15,25
88,Nordrhein-Westfalen,Förderschulen,Ohne Hauptschulabschluss,3947,2694,6641,3782,2586,6368,3590,...,5470,3408,1977,5385,3240,1830,5067,3310,1790,5100
89,Nordrhein-Westfalen,Insgesamt,Ohne Hauptschulabschluss,7141,4841,11982,6619,4583,11202,6294,...,11522,7023,4398,11421,6030,3678,9708,6295,3830,10125

In [28]:
dropouts_rp = dropouts_filtered.iloc[90:99]

dropouts_rp.rename(columns={'Unnamed: 0': 'Bundesland', 'Unnamed: 1': 'Schule',
                                'Schuljahr': '2010m', 'Schuljahr.1': '2010w', 'Schuljahr.2': '2010g',
                                'Schuljahr.3': '2011m', 'Schuljahr.4': '2011w', 'Schuljahr.5': '2011g',
                                'Schuljahr.6': '2012m', 'Schuljahr.7': '2012w', 'Schuljahr.8': '2012g',
                                'Schuljahr.9': '2013m', 'Schuljahr.10': '2013w', 'Schuljahr.11': '2013g',
                                'Schuljahr.12': '2014m', 'Schuljahr.13': '2014w', 'Schuljahr.14': '2014g',
                                'Schuljahr.15': '2015m', 'Schuljahr.16': '2015w', 'Schuljahr.17': '2015g',
                                'Schuljahr.18': '2016m', 'Schuljahr.19': '2016w', 'Schuljahr.20': '2016g',
                                'Schuljahr.21': '2017m', 'Schuljahr.22': '2017w', 'Schuljahr.23': '2017g',
                                'Schuljahr.24': '2018m', 'Schuljahr.25': '2018w', 'Schuljahr.26': '2018g',
                                'Schuljahr.27': '2019m', 'Schuljahr.28': '2019w', 'Schuljahr.29': '2019g',
                                'Schuljahr.30': '2020m', 'Schuljahr.31': '2020w', 'Schuljahr.32': '2020g',
                                'Schuljahr.33': '2021m', 'Schuljahr.34': '2021w', 'Schuljahr.35': '2021g'})

,Bundesland,Schule,Abschluss,2010m,2010w,2010g,2011m,2011w,2011g,2012m,...,2018g,2019m,2019w,2019g,2020m,2020w,2020g,2021m,2021w,2021g
90,Rheinland-Pfalz,Hauptschulen,Ohne Hauptschulabschluss,289,199,488,119,101,220,58,...,2,4,1,5,3,1,4,3,1,4
91,Rheinland-Pfalz,Schularten mit mehreren Bildungsgängen,Ohne Hauptschulabschluss,265,145,410,410,228,638,442,...,1071,741,375,1116,458,261,719,714,438,1152
92,Rheinland-Pfalz,Realschulen,Ohne Hauptschulabschluss,56,28,84,7,5,12,5,...,3,-,8,8,-,-,-,-,2,2
93,Rheinland-Pfalz,Gymnasien (G9),Ohne Hauptschulabschluss,21,17,38,21,8,29,14,...,27,15,14,29,8,13,21,17,11,28
94,Rheinland-Pfalz,Gymnasien (G8),Ohne Hauptschulabschluss,-,-,-,-,-,-,-,...,2,2,1,3,-,1,1,1,-,1
95,Rheinland-Pfalz,Integrierte Gesamtschulen,Ohne Hauptschulabschluss,42,24,66,65,51,116,73,...,282,247,138,385,180,117,297,206,140,346
96,Rheinland-Pfalz,Freie Waldorfschulen,Ohne Hauptschulabschluss,-,-,-,-,-,-,-,...,4,1,2,3,-,-,-,-,-,-
97,Rheinland-Pfalz,Förderschulen,Ohne Hauptschulabschluss,956,523,1479,879,575,1454,856,...,1420,941,468,1409,901,517,1418,789,438,1227
98,Rheinland-Pfalz,Insgesamt,Ohne Hauptschulabschluss,1629,936,2565,1501,968,2469,1448,...,2811,1951,1007,2958,1550,910,2460,1730,1030,2760

In [29]:
dropouts_saar = dropouts_filtered.iloc[99:108]

dropouts_saar.rename(columns={'Unnamed: 0': 'Bundesland', 'Unnamed: 1': 'Schule',
                                'Schuljahr': '2010m', 'Schuljahr.1': '2010w', 'Schuljahr.2': '2010g',
                                'Schuljahr.3': '2011m', 'Schuljahr.4': '2011w', 'Schuljahr.5': '2011g',
                                'Schuljahr.6': '2012m', 'Schuljahr.7': '2012w', 'Schuljahr.8': '2012g',
                                'Schuljahr.9': '2013m', 'Schuljahr.10': '2013w', 'Schuljahr.11': '2013g',
                                'Schuljahr.12': '2014m', 'Schuljahr.13': '2014w', 'Schuljahr.14': '2014g',
                                'Schuljahr.15': '2015m', 'Schuljahr.16': '2015w', 'Schuljahr.17': '2015g',
                                'Schuljahr.18': '2016m', 'Schuljahr.19': '2016w', 'Schuljahr.20': '2016g',
                                'Schuljahr.21': '2017m', 'Schuljahr.22': '2017w', 'Schuljahr.23': '2017g',
                                'Schuljahr.24': '2018m', 'Schuljahr.25': '2018w', 'Schuljahr.26': '2018g',
                                'Schuljahr.27': '2019m', 'Schuljahr.28': '2019w', 'Schuljahr.29': '2019g',
                                'Schuljahr.30': '2020m', 'Schuljahr.31': '2020w', 'Schuljahr.32': '2020g',
                                'Schuljahr.33': '2021m', 'Schuljahr.34': '2021w', 'Schuljahr.35': '2021g'})

,Bundesland,Schule,Abschluss,2010m,2010w,2010g,2011m,2011w,2011g,2012m,...,2018g,2019m,2019w,2019g,2020m,2020w,2020g,2021m,2021w,2021g
99,Saarland,Hauptschulen,Ohne Hauptschulabschluss,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
100,Saarland,Schularten mit mehreren Bildungsgängen,Ohne Hauptschulabschluss,96,78,174,98,60,158,73,...,-,1,-,1,-,-,-,-,-,-
101,Saarland,Realschulen,Ohne Hauptschulabschluss,-,-,-,2,3,5,1,...,-,-,-,-,-,-,-,2,1,3
102,Saarland,Gymnasien (G9),Ohne Hauptschulabschluss,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
103,Saarland,Gymnasien (G8),Ohne Hauptschulabschluss,1,-,1,1,-,1,4,...,15,4,2,6,3,1,4,12,12,24
104,Saarland,Integrierte Gesamtschulen,Ohne Hauptschulabschluss,28,21,49,22,22,44,46,...,385,245,126,371,155,136,291,158,120,278
105,Saarland,Freie Waldorfschulen,Ohne Hauptschulabschluss,3,4,7,5,1,6,10,...,9,5,4,9,3,5,8,8,1,9
106,Saarland,Förderschulen,Ohne Hauptschulabschluss,215,120,335,171,102,273,193,...,247,168,82,250,142,101,243,156,79,235
107,Saarland,Insgesamt,Ohne Hauptschulabschluss,343,223,566,299,188,487,327,...,656,423,214,637,303,243,546,336,213,549

In [30]:
dropouts_sachsen = dropouts_filtered.iloc[108:117]

dropouts_sachsen.rename(columns={'Unnamed: 0': 'Bundesland', 'Unnamed: 1': 'Schule',
                                'Schuljahr': '2010m', 'Schuljahr.1': '2010w', 'Schuljahr.2': '2010g',
                                'Schuljahr.3': '2011m', 'Schuljahr.4': '2011w', 'Schuljahr.5': '2011g',
                                'Schuljahr.6': '2012m', 'Schuljahr.7': '2012w', 'Schuljahr.8': '2012g',
                                'Schuljahr.9': '2013m', 'Schuljahr.10': '2013w', 'Schuljahr.11': '2013g',
                                'Schuljahr.12': '2014m', 'Schuljahr.13': '2014w', 'Schuljahr.14': '2014g',
                                'Schuljahr.15': '2015m', 'Schuljahr.16': '2015w', 'Schuljahr.17': '2015g',
                                'Schuljahr.18': '2016m', 'Schuljahr.19': '2016w', 'Schuljahr.20': '2016g',
                                'Schuljahr.21': '2017m', 'Schuljahr.22': '2017w', 'Schuljahr.23': '2017g',
                                'Schuljahr.24': '2018m', 'Schuljahr.25': '2018w', 'Schuljahr.26': '2018g',
                                'Schuljahr.27': '2019m', 'Schuljahr.28': '2019w', 'Schuljahr.29': '2019g',
                                'Schuljahr.30': '2020m', 'Schuljahr.31': '2020w', 'Schuljahr.32': '2020g',
                                'Schuljahr.33': '2021m', 'Schuljahr.34': '2021w', 'Schuljahr.35': '2021g'})

,Bundesland,Schule,Abschluss,2010m,2010w,2010g,2011m,2011w,2011g,2012m,...,2018g,2019m,2019w,2019g,2020m,2020w,2020g,2021m,2021w,2021g
108,Sachsen,Hauptschulen,Ohne Hauptschulabschluss,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
109,Sachsen,Schularten mit mehreren Bildungsgängen,Ohne Hauptschulabschluss,446,296,742,438,274,712,443,...,1069,736,384,1120,563,313,876,571,351,922
110,Sachsen,Realschulen,Ohne Hauptschulabschluss,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
111,Sachsen,Gymnasien (G9),Ohne Hauptschulabschluss,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
112,Sachsen,Gymnasien (G8),Ohne Hauptschulabschluss,2,-,2,1,-,1,1,...,-,9,14,23,14,25,39,127,135,262
113,Sachsen,Integrierte Gesamtschulen,Ohne Hauptschulabschluss,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
114,Sachsen,Freie Waldorfschulen,Ohne Hauptschulabschluss,-,-,-,2,-,2,-,...,1,-,1,1,2,-,2,6,4,10
115,Sachsen,Förderschulen,Ohne Hauptschulabschluss,964,633,1597,955,589,1544,918,...,1567,929,635,1564,939,599,1538,943,656,1599
116,Sachsen,Insgesamt,Ohne Hauptschulabschluss,1412,929,2341,1396,863,2259,1362,...,2637,1674,1034,2708,1518,937,2455,1647,1146,2793

In [31]:
dropouts_sa_anh = dropouts_filtered.iloc[117:126]

dropouts_sa_anh.rename(columns={'Unnamed: 0': 'Bundesland', 'Unnamed: 1': 'Schule',
                                'Schuljahr': '2010m', 'Schuljahr.1': '2010w', 'Schuljahr.2': '2010g',
                                'Schuljahr.3': '2011m', 'Schuljahr.4': '2011w', 'Schuljahr.5': '2011g',
                                'Schuljahr.6': '2012m', 'Schuljahr.7': '2012w', 'Schuljahr.8': '2012g',
                                'Schuljahr.9': '2013m', 'Schuljahr.10': '2013w', 'Schuljahr.11': '2013g',
                                'Schuljahr.12': '2014m', 'Schuljahr.13': '2014w', 'Schuljahr.14': '2014g',
                                'Schuljahr.15': '2015m', 'Schuljahr.16': '2015w', 'Schuljahr.17': '2015g',
                                'Schuljahr.18': '2016m', 'Schuljahr.19': '2016w', 'Schuljahr.20': '2016g',
                                'Schuljahr.21': '2017m', 'Schuljahr.22': '2017w', 'Schuljahr.23': '2017g',
                                'Schuljahr.24': '2018m', 'Schuljahr.25': '2018w', 'Schuljahr.26': '2018g',
                                'Schuljahr.27': '2019m', 'Schuljahr.28': '2019w', 'Schuljahr.29': '2019g',
                                'Schuljahr.30': '2020m', 'Schuljahr.31': '2020w', 'Schuljahr.32': '2020g',
                                'Schuljahr.33': '2021m', 'Schuljahr.34': '2021w', 'Schuljahr.35': '2021g'})

,Bundesland,Schule,Abschluss,2010m,2010w,2010g,2011m,2011w,2011g,2012m,...,2018g,2019m,2019w,2019g,2020m,2020w,2020g,2021m,2021w,2021g
117,Sachsen-Anhalt,Hauptschulen,Ohne Hauptschulabschluss,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
118,Sachsen-Anhalt,Schularten mit mehreren Bildungsgängen,Ohne Hauptschulabschluss,303,207,510,305,195,500,311,...,870,597,291,888,417,234,648,375,231,606
119,Sachsen-Anhalt,Realschulen,Ohne Hauptschulabschluss,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
120,Sachsen-Anhalt,Gymnasien (G9),Ohne Hauptschulabschluss,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
121,Sachsen-Anhalt,Gymnasien (G8),Ohne Hauptschulabschluss,-,-,-,-,-,-,1,...,3,3,3,6,-,-,-,-,-,-
122,Sachsen-Anhalt,Integrierte Gesamtschulen,Ohne Hauptschulabschluss,10,5,15,13,6,19,7,...,114,123,69,192,117,75,195,114,63,177
123,Sachsen-Anhalt,Freie Waldorfschulen,Ohne Hauptschulabschluss,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
124,Sachsen-Anhalt,Förderschulen,Ohne Hauptschulabschluss,788,531,1319,745,474,1219,697,...,1017,585,327,912,576,354,927,546,336,885
125,Sachsen-Anhalt,Insgesamt,Ohne Hauptschulabschluss,1101,743,1844,1063,675,1738,1016,...,2004,1308,687,1995,1110,663,1773,1038,633,1671

In [32]:
dropouts_sh = dropouts_filtered.iloc[126:135]

dropouts_sh.rename(columns={'Unnamed: 0': 'Bundesland', 'Unnamed: 1': 'Schule',
                                'Schuljahr': '2010m', 'Schuljahr.1': '2010w', 'Schuljahr.2': '2010g',
                                'Schuljahr.3': '2011m', 'Schuljahr.4': '2011w', 'Schuljahr.5': '2011g',
                                'Schuljahr.6': '2012m', 'Schuljahr.7': '2012w', 'Schuljahr.8': '2012g',
                                'Schuljahr.9': '2013m', 'Schuljahr.10': '2013w', 'Schuljahr.11': '2013g',
                                'Schuljahr.12': '2014m', 'Schuljahr.13': '2014w', 'Schuljahr.14': '2014g',
                                'Schuljahr.15': '2015m', 'Schuljahr.16': '2015w', 'Schuljahr.17': '2015g',
                                'Schuljahr.18': '2016m', 'Schuljahr.19': '2016w', 'Schuljahr.20': '2016g',
                                'Schuljahr.21': '2017m', 'Schuljahr.22': '2017w', 'Schuljahr.23': '2017g',
                                'Schuljahr.24': '2018m', 'Schuljahr.25': '2018w', 'Schuljahr.26': '2018g',
                                'Schuljahr.27': '2019m', 'Schuljahr.28': '2019w', 'Schuljahr.29': '2019g',
                                'Schuljahr.30': '2020m', 'Schuljahr.31': '2020w', 'Schuljahr.32': '2020g',
                                'Schuljahr.33': '2021m', 'Schuljahr.34': '2021w', 'Schuljahr.35': '2021g'})

,Bundesland,Schule,Abschluss,2010m,2010w,2010g,2011m,2011w,2011g,2012m,...,2018g,2019m,2019w,2019g,2020m,2020w,2020g,2021m,2021w,2021g
126,Schleswig-Holstein,Hauptschulen,Ohne Hauptschulabschluss,550,326,876,567,317,884,503,...,-,-,-,-,-,-,-,-,-,-
127,Schleswig-Holstein,Schularten mit mehreren Bildungsgängen,Ohne Hauptschulabschluss,-,-,-,-,-,-,22,...,269,2,1,3,-,-,-,-,-,-
128,Schleswig-Holstein,Realschulen,Ohne Hauptschulabschluss,60,47,107,50,25,75,35,...,-,-,-,-,-,-,-,-,-,-
129,Schleswig-Holstein,Gymnasien (G9),Ohne Hauptschulabschluss,-,2,2,2,2,4,3,...,2,1,1,2,3,1,4,2,3,5
130,Schleswig-Holstein,Gymnasien (G8),Ohne Hauptschulabschluss,-,-,-,-,-,-,-,...,15,7,4,11,10,6,16,5,10,15
131,Schleswig-Holstein,Integrierte Gesamtschulen,Ohne Hauptschulabschluss,30,10,40,54,43,97,129,...,1555,1250,744,1994,1056,655,1711,904,565,1469
132,Schleswig-Holstein,Freie Waldorfschulen,Ohne Hauptschulabschluss,3,-,3,2,4,6,4,...,8,8,6,14,6,9,15,13,11,24
133,Schleswig-Holstein,Förderschulen,Ohne Hauptschulabschluss,705,469,1174,674,403,1077,600,...,604,410,239,649,350,187,537,302,197,499
134,Schleswig-Holstein,Insgesamt,Ohne Hauptschulabschluss,1348,854,2202,1349,794,2143,1296,...,2453,1678,995,2673,1425,858,2283,1226,786,2012

In [33]:
dropouts_th = dropouts_filtered.iloc[135:144]

dropouts_th.rename(columns={'Unnamed: 0': 'Bundesland', 'Unnamed: 1': 'Schule',
                                'Schuljahr': '2010m', 'Schuljahr.1': '2010w', 'Schuljahr.2': '2010g',
                                'Schuljahr.3': '2011m', 'Schuljahr.4': '2011w', 'Schuljahr.5': '2011g',
                                'Schuljahr.6': '2012m', 'Schuljahr.7': '2012w', 'Schuljahr.8': '2012g',
                                'Schuljahr.9': '2013m', 'Schuljahr.10': '2013w', 'Schuljahr.11': '2013g',
                                'Schuljahr.12': '2014m', 'Schuljahr.13': '2014w', 'Schuljahr.14': '2014g',
                                'Schuljahr.15': '2015m', 'Schuljahr.16': '2015w', 'Schuljahr.17': '2015g',
                                'Schuljahr.18': '2016m', 'Schuljahr.19': '2016w', 'Schuljahr.20': '2016g',
                                'Schuljahr.21': '2017m', 'Schuljahr.22': '2017w', 'Schuljahr.23': '2017g',
                                'Schuljahr.24': '2018m', 'Schuljahr.25': '2018w', 'Schuljahr.26': '2018g',
                                'Schuljahr.27': '2019m', 'Schuljahr.28': '2019w', 'Schuljahr.29': '2019g',
                                'Schuljahr.30': '2020m', 'Schuljahr.31': '2020w', 'Schuljahr.32': '2020g',
                                'Schuljahr.33': '2021m', 'Schuljahr.34': '2021w', 'Schuljahr.35': '2021g'})

,Bundesland,Schule,Abschluss,2010m,2010w,2010g,2011m,2011w,2011g,2012m,...,2018g,2019m,2019w,2019g,2020m,2020w,2020g,2021m,2021w,2021g
135,Thüringen,Hauptschulen,Ohne Hauptschulabschluss,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
136,Thüringen,Schularten mit mehreren Bildungsgängen,Ohne Hauptschulabschluss,273,208,481,254,158,412,292,...,871,588,281,869,388,231,619,473,278,751
137,Thüringen,Realschulen,Ohne Hauptschulabschluss,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
138,Thüringen,Gymnasien (G9),Ohne Hauptschulabschluss,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
139,Thüringen,Gymnasien (G8),Ohne Hauptschulabschluss,-,1,1,1,-,1,1,...,13,3,3,6,6,1,7,5,1,6
140,Thüringen,Integrierte Gesamtschulen,Ohne Hauptschulabschluss,1,2,3,5,3,8,2,...,181,159,83,242,117,71,188,146,78,224
141,Thüringen,Freie Waldorfschulen,Ohne Hauptschulabschluss,-,2,2,-,2,2,-,...,11,2,3,5,11,3,14,1,3,4
142,Thüringen,Förderschulen,Ohne Hauptschulabschluss,497,282,779,442,292,734,380,...,544,314,191,505,299,175,474,302,166,468
143,Thüringen,Insgesamt,Ohne Hauptschulabschluss,771,495,1266,702,455,1157,675,...,1620,1066,561,1627,821,481,1302,927,526,1453

# Einteilung in Jahre pro Bundesland

### Baden-Wüttemberg

In [44]:
dropouts_bw_2011 =dropouts_bw.iloc[:, [0,1,2,6,7,8]]
dropouts_bw_2012 =dropouts_bw.iloc[:, [0,1,2,9,10,11]]
dropouts_bw_2013 =dropouts_bw.iloc[:, [0,1,2,12,13,14]]
dropouts_bw_2014 =dropouts_bw.iloc[:, [0,1,2,15,16,17]]
dropouts_bw_2015 =dropouts_bw.iloc[:, [0,1,2,18,19,20]]
dropouts_bw_2016 =dropouts_bw.iloc[:, [0,1,2,21,22,23]]
dropouts_bw_2017 =dropouts_bw.iloc[:, [0,1,2,24,25,26]]
dropouts_bw_2018 =dropouts_bw.iloc[:, [0,1,2,27,28,29]]
dropouts_bw_2019 =dropouts_bw.iloc[:, [0,1,2,30,31,32]]
dropouts_bw_2020 =dropouts_bw.iloc[:, [0,1,2,33,34,35]]
dropouts_bw_2021 =dropouts_bw.iloc[:, [0,1,2,36,37,38]]

In [54]:
# Speichern in einer Excel datei
with pd.ExcelWriter('/Users/jw/Documents/Neue_Fische_Bootcamp/capstone_project_hh_23_1/data/jw/bw_jahre.xlsx') as writer:
    dropouts_bw_2011.to_excel(writer, sheet_name='2011')
    dropouts_bw_2012.to_excel(writer, sheet_name='2012')
    dropouts_bw_2013.to_excel(writer, sheet_name='2013')
    dropouts_bw_2014.to_excel(writer, sheet_name='2014')
    dropouts_bw_2015.to_excel(writer, sheet_name='2015')
    dropouts_bw_2016.to_excel(writer, sheet_name='2016')
    dropouts_bw_2017.to_excel(writer, sheet_name='2017')
    dropouts_bw_2018.to_excel(writer, sheet_name='2018')
    dropouts_bw_2019.to_excel(writer, sheet_name='2019')
    dropouts_bw_2020.to_excel(writer, sheet_name='2020')
    dropouts_bw_2021.to_excel(writer, sheet_name='2021')

In [43]:
dropouts_bw_2011

,Unnamed: 0,Unnamed: 1,Abschluss,Schuljahr.3,Schuljahr.4,Schuljahr.5
0,Baden-Württemberg,Hauptschulen,Ohne Hauptschulabschluss,679,443,1122
1,Baden-Württemberg,Schularten mit mehreren Bildungsgängen,Ohne Hauptschulabschluss,-,-,-
2,Baden-Württemberg,Realschulen,Ohne Hauptschulabschluss,457,320,777
3,Baden-Württemberg,Gymnasien (G9),Ohne Hauptschulabschluss,-,-,-
4,Baden-Württemberg,Gymnasien (G8),Ohne Hauptschulabschluss,79,82,161
5,Baden-Württemberg,Integrierte Gesamtschulen,Ohne Hauptschulabschluss,1,1,2
6,Baden-Württemberg,Freie Waldorfschulen,Ohne Hauptschulabschluss,22,21,43
7,Baden-Württemberg,Förderschulen,Ohne Hauptschulabschluss,2294,1523,3817
8,Baden-Württemberg,Insgesamt,Ohne Hauptschulabschluss,3532,2390,5922

In [4]:
import pandas as pd

# Beispiel DataFrame
df = pd.DataFrame({'Unnamed: 0': ['Baden-Württemberg', 'Baden-Württemberg', 'Baden-Württemberg', 'Baden-Württemberg', 'Baden-Württemberg', 'Baden-Württemberg', 'Baden-Württemberg', 'Baden-Württemberg', 'Baden-Württemberg'],
                   'Unnamed: 1': ['Hauptschulen', 'Schularten mit mehreren Bildungsgängen', 'Realschulen', 'Gymnasien (G9)', 'Gymnasien (G8)', 'Integrierte Gesamtschulen', 'Freie Waldorfschulen', 'Förderschulen', 'Insgesamt'],
                   'Abschluss': ['Ohne Hauptschulabschluss', 'Ohne Hauptschulabschluss', 'Ohne Hauptschulabschluss', 'Ohne Hauptschulabschluss', 'Ohne Hauptschulabschluss', 'Ohne Hauptschulabschluss', 'Ohne Hauptschulabschluss', 'Ohne Hauptschulabschluss', 'Ohne Hauptschulabschluss'],
                   'Schuljahr.3': [679, 0, 457, 0, 79, 1, 22, 2294, 3532],
                   'Schuljahr.4': [443, 0, 320, 0, 82, 1, 21, 1523, 2390],
                   'Schuljahr.5': [1122, 0, 777, 0, 161, 2, 43, 3817, 5922]})

# Berechnung der Prozentwerte
df['weiblich %'] = df['Schuljahr.4'] / df['Schuljahr.5'] * 100
df['männlich %'] = df['Schuljahr.3'] / df['Schuljahr.5'] * 100

# Ausgabe des aktualisierten DataFrames
df

,Unnamed: 0,Unnamed: 1,Abschluss,Schuljahr.3,Schuljahr.4,Schuljahr.5,weiblich %,männlich %
0,Baden-Württemberg,Hauptschulen,Ohne Hauptschulabschluss,679,443,1122,39.483066,60.516934
1,Baden-Württemberg,Schularten mit mehreren Bildungsgängen,Ohne Hauptschulabschluss,0,0,0,NaN,NaN
2,Baden-Württemberg,Realschulen,Ohne Hauptschulabschluss,457,320,777,41.184041,58.815959
3,Baden-Württemberg,Gymnasien (G9),Ohne Hauptschulabschluss,0,0,0,NaN,NaN
4,Baden-Württemberg,Gymnasien (G8),Ohne Hauptschulabschluss,79,82,161,50.931677,49.068323
5,Baden-Württemberg,Integrierte Gesamtschulen,Ohne Hauptschulabschluss,1,1,2,50.000000,50.000000
6,Baden-Württemberg,Freie Waldorfschulen,Ohne Hauptschulabschluss,22,21,43,48.837209,51.162791
7,Baden-Württemberg,Förderschulen,Ohne Hauptschulabschluss,2294,1523,3817,39.900445,60.099555
8,Baden-Württemberg,Insgesamt,Ohne Hauptschulabschluss,3532,2390,5922,40.357987,59.642013

### Bayern

In [52]:
dropouts_by_2011 =dropouts_by.iloc[:, [0,1,2,6,7,8]]
dropouts_by_2012 =dropouts_by.iloc[:, [0,1,2,9,10,11]]
dropouts_by_2013 =dropouts_by.iloc[:, [0,1,2,12,13,14]]
dropouts_by_2014 =dropouts_by.iloc[:, [0,1,2,15,16,17]]
dropouts_by_2015 =dropouts_by.iloc[:, [0,1,2,18,19,20]]
dropouts_by_2016 =dropouts_by.iloc[:, [0,1,2,21,22,23]]
dropouts_by_2017 =dropouts_by.iloc[:, [0,1,2,24,25,26]]
dropouts_by_2018 =dropouts_by.iloc[:, [0,1,2,27,28,29]]
dropouts_by_2019 =dropouts_by.iloc[:, [0,1,2,30,31,32]]
dropouts_by_2020 =dropouts_by.iloc[:, [0,1,2,33,34,35]]
dropouts_by_2021 =dropouts_by.iloc[:, [0,1,2,36,37,38]]

In [63]:
# Speichern in einer Excel datei
with pd.ExcelWriter('/Users/jw/Documents/Neue_Fische_Bootcamp/capstone_project_hh_23_1/data/jw/by_jahre.xlsx') as writer:
    dropouts_by_2011.to_excel(writer, sheet_name='2011')
    dropouts_by_2012.to_excel(writer, sheet_name='2012')
    dropouts_by_2013.to_excel(writer, sheet_name='2013')
    dropouts_by_2014.to_excel(writer, sheet_name='2014')
    dropouts_by_2015.to_excel(writer, sheet_name='2015')
    dropouts_by_2016.to_excel(writer, sheet_name='2016')
    dropouts_by_2017.to_excel(writer, sheet_name='2017')
    dropouts_by_2018.to_excel(writer, sheet_name='2018')
    dropouts_by_2019.to_excel(writer, sheet_name='2019')
    dropouts_by_2020.to_excel(writer, sheet_name='2020')
    dropouts_by_2021.to_excel(writer, sheet_name='2021')

### Berlin

In [121]:
dropouts_be_2011 =dropouts_be.iloc[:, [0,1,2,6,7,8]]
dropouts_be_2012 =dropouts_be.iloc[:, [0,1,2,9,10,11]]
dropouts_be_2013 =dropouts_be.iloc[:, [0,1,2,12,13,14]]
dropouts_be_2014 =dropouts_be.iloc[:, [0,1,2,15,16,17]]
dropouts_be_2015 =dropouts_be.iloc[:, [0,1,2,18,19,20]]
dropouts_be_2016 =dropouts_be.iloc[:, [0,1,2,21,22,23]]
dropouts_be_2017 =dropouts_be.iloc[:, [0,1,2,24,25,26]]
dropouts_be_2018 =dropouts_be.iloc[:, [0,1,2,27,28,29]]
dropouts_be_2019 =dropouts_be.iloc[:, [0,1,2,30,31,32]]
dropouts_be_2020 =dropouts_be.iloc[:, [0,1,2,33,34,35]]
dropouts_be_2021 =dropouts_be.iloc[:, [0,1,2,36,37,38]]

In [62]:
# Speichern in einer Excel datei
with pd.ExcelWriter('/Users/jw/Documents/Neue_Fische_Bootcamp/capstone_project_hh_23_1/data/jw/be_jahre.xlsx') as writer:
    dropouts_be_2011.to_excel(writer, sheet_name='2011')
    dropouts_be_2012.to_excel(writer, sheet_name='2012')
    dropouts_be_2013.to_excel(writer, sheet_name='2013')
    dropouts_be_2014.to_excel(writer, sheet_name='2014')
    dropouts_be_2015.to_excel(writer, sheet_name='2015')
    dropouts_be_2016.to_excel(writer, sheet_name='2016')
    dropouts_be_2017.to_excel(writer, sheet_name='2017')
    dropouts_be_2018.to_excel(writer, sheet_name='2018')
    dropouts_be_2019.to_excel(writer, sheet_name='2019')
    dropouts_be_2020.to_excel(writer, sheet_name='2020')
    dropouts_be_2021.to_excel(writer, sheet_name='2021')

IndexError: At least one sheet must be visible

### Brandenburg

In [122]:
dropouts_bb_2011 =dropouts_bb.iloc[:, [0,1,2,6,7,8]]
dropouts_bb_2012 =dropouts_bb.iloc[:, [0,1,2,9,10,11]]
dropouts_bb_2013 =dropouts_bb.iloc[:, [0,1,2,12,13,14]]
dropouts_bb_2014 =dropouts_bb.iloc[:, [0,1,2,15,16,17]]
dropouts_bb_2015 =dropouts_bb.iloc[:, [0,1,2,18,19,20]]
dropouts_bb_2016 =dropouts_bb.iloc[:, [0,1,2,21,22,23]]
dropouts_bb_2017 =dropouts_bb.iloc[:, [0,1,2,24,25,26]]
dropouts_bb_2018 =dropouts_bb.iloc[:, [0,1,2,27,28,29]]
dropouts_bb_2019 =dropouts_bb.iloc[:, [0,1,2,30,31,32]]
dropouts_bb_2020 =dropouts_bb.iloc[:, [0,1,2,33,34,35]]
dropouts_bb_2021 =dropouts_bb.iloc[:, [0,1,2,36,37,38]]

In [61]:
# Speichern in einer Excel datei
with pd.ExcelWriter('/Users/jw/Documents/Neue_Fische_Bootcamp/capstone_project_hh_23_1/data/jw/brandenburg_jahre.xlsx') as writer:
    dropouts_bb_2011.to_excel(writer, sheet_name='2011')
    dropouts_bb_2012.to_excel(writer, sheet_name='2012')
    dropouts_bb_2013.to_excel(writer, sheet_name='2013')
    dropouts_bb_2014.to_excel(writer, sheet_name='2014')
    dropouts_bb_2015.to_excel(writer, sheet_name='2015')
    dropouts_bb_2016.to_excel(writer, sheet_name='2016')
    dropouts_bb_2017.to_excel(writer, sheet_name='2017')
    dropouts_bb_2018.to_excel(writer, sheet_name='2018')
    dropouts_bb_2019.to_excel(writer, sheet_name='2019')
    dropouts_bb_2020.to_excel(writer, sheet_name='2020')
    dropouts_bb_2021.to_excel(writer, sheet_name='2021')

IndexError: At least one sheet must be visible

### Bremen

In [123]:
dropouts_hb_2011 =dropouts_hb.iloc[:, [0,1,2,6,7,8]]
dropouts_hb_2012 =dropouts_hb.iloc[:, [0,1,2,9,10,11]]
dropouts_hb_2013 =dropouts_hb.iloc[:, [0,1,2,12,13,14]]
dropouts_hb_2014 =dropouts_hb.iloc[:, [0,1,2,15,16,17]]
dropouts_hb_2015 =dropouts_hb.iloc[:, [0,1,2,18,19,20]]
dropouts_hb_2016 =dropouts_hb.iloc[:, [0,1,2,21,22,23]]
dropouts_hb_2017 =dropouts_hb.iloc[:, [0,1,2,24,25,26]]
dropouts_hb_2018 =dropouts_hb.iloc[:, [0,1,2,27,28,29]]
dropouts_hb_2019 =dropouts_hb.iloc[:, [0,1,2,30,31,32]]
dropouts_hb_2020 =dropouts_hb.iloc[:, [0,1,2,33,34,35]]
dropouts_hb_2021 =dropouts_hb.iloc[:, [0,1,2,36,37,38]]

### Hamburg

In [124]:
dropouts_hh_2011 =dropouts_hh.iloc[:, [0,1,2,6,7,8]]
dropouts_hh_2012 =dropouts_hh.iloc[:, [0,1,2,9,10,11]]
dropouts_hh_2013 =dropouts_hh.iloc[:, [0,1,2,12,13,14]]
dropouts_hh_2014 =dropouts_hh.iloc[:, [0,1,2,15,16,17]]
dropouts_hh_2015 =dropouts_hh.iloc[:, [0,1,2,18,19,20]]
dropouts_hh_2016 =dropouts_hh.iloc[:, [0,1,2,21,22,23]]
dropouts_hh_2017 =dropouts_hh.iloc[:, [0,1,2,24,25,26]]
dropouts_hh_2018 =dropouts_hh.iloc[:, [0,1,2,27,28,29]]
dropouts_hh_2019 =dropouts_hh.iloc[:, [0,1,2,30,31,32]]
dropouts_hh_2020 =dropouts_hh.iloc[:, [0,1,2,33,34,35]]
dropouts_hh_2021 =dropouts_hh.iloc[:, [0,1,2,36,37,38]]

### Hessen

In [125]:
dropouts_he_2011 =dropouts_he.iloc[:, [0,1,2,6,7,8]]
dropouts_he_2012 =dropouts_he.iloc[:, [0,1,2,9,10,11]]
dropouts_he_2013 =dropouts_he.iloc[:, [0,1,2,12,13,14]]
dropouts_he_2014 =dropouts_he.iloc[:, [0,1,2,15,16,17]]
dropouts_he_2015 =dropouts_he.iloc[:, [0,1,2,18,19,20]]
dropouts_he_2016 =dropouts_he.iloc[:, [0,1,2,21,22,23]]
dropouts_he_2017 =dropouts_he.iloc[:, [0,1,2,24,25,26]]
dropouts_he_2018 =dropouts_he.iloc[:, [0,1,2,27,28,29]]
dropouts_he_2019 =dropouts_he.iloc[:, [0,1,2,30,31,32]]
dropouts_he_2020 =dropouts_he.iloc[:, [0,1,2,33,34,35]]
dropouts_he_2021 =dropouts_he.iloc[:, [0,1,2,36,37,38]]

### Mecklenburg-Vorpommern

In [126]:
dropouts_mv_2011 =dropouts_mv.iloc[:, [0,1,2,6,7,8]]
dropouts_mv_2012 =dropouts_mv.iloc[:, [0,1,2,9,10,11]]
dropouts_mv_2013 =dropouts_mv.iloc[:, [0,1,2,12,13,14]]
dropouts_mv_2014 =dropouts_mv.iloc[:, [0,1,2,15,16,17]]
dropouts_mv_2015 =dropouts_mv.iloc[:, [0,1,2,18,19,20]]
dropouts_mv_2016 =dropouts_mv.iloc[:, [0,1,2,21,22,23]]
dropouts_mv_2017 =dropouts_mv.iloc[:, [0,1,2,24,25,26]]
dropouts_mv_2018 =dropouts_mv.iloc[:, [0,1,2,27,28,29]]
dropouts_mv_2019 =dropouts_mv.iloc[:, [0,1,2,30,31,32]]
dropouts_mv_2020 =dropouts_mv.iloc[:, [0,1,2,33,34,35]]
dropouts_mv_2021 =dropouts_mv.iloc[:, [0,1,2,36,37,38]]

### Niedersachsen

In [127]:
dropouts_ni_2011 =dropouts_ni.iloc[:, [0,1,2,6,7,8]]
dropouts_ni_2012 =dropouts_ni.iloc[:, [0,1,2,9,10,11]]
dropouts_ni_2013 =dropouts_ni.iloc[:, [0,1,2,12,13,14]]
dropouts_ni_2014 =dropouts_ni.iloc[:, [0,1,2,15,16,17]]
dropouts_ni_2015 =dropouts_ni.iloc[:, [0,1,2,18,19,20]]
dropouts_ni_2016 =dropouts_ni.iloc[:, [0,1,2,21,22,23]]
dropouts_ni_2017 =dropouts_ni.iloc[:, [0,1,2,24,25,26]]
dropouts_ni_2018 =dropouts_ni.iloc[:, [0,1,2,27,28,29]]
dropouts_ni_2019 =dropouts_ni.iloc[:, [0,1,2,30,31,32]]
dropouts_ni_2020 =dropouts_ni.iloc[:, [0,1,2,33,34,35]]
dropouts_ni_2021 =dropouts_ni.iloc[:, [0,1,2,36,37,38]]

### Nordrhein-Westphalen

In [128]:
dropouts_nrw_2011 =dropouts_nrw.iloc[:, [0,1,2,6,7,8]]
dropouts_nrw_2012 =dropouts_nrw.iloc[:, [0,1,2,9,10,11]]
dropouts_nrw_2013 =dropouts_nrw.iloc[:, [0,1,2,12,13,14]]
dropouts_nrw_2014 =dropouts_nrw.iloc[:, [0,1,2,15,16,17]]
dropouts_nrw_2015 =dropouts_nrw.iloc[:, [0,1,2,18,19,20]]
dropouts_nrw_2016 =dropouts_nrw.iloc[:, [0,1,2,21,22,23]]
dropouts_nrw_2017 =dropouts_nrw.iloc[:, [0,1,2,24,25,26]]
dropouts_nrw_2018 =dropouts_nrw.iloc[:, [0,1,2,27,28,29]]
dropouts_nrw_2019 =dropouts_nrw.iloc[:, [0,1,2,30,31,32]]
dropouts_nrw_2020 =dropouts_nrw.iloc[:, [0,1,2,33,34,35]]
dropouts_nrw_2021 =dropouts_nrw.iloc[:, [0,1,2,36,37,38]]

### Rheinland-Pfalz

In [129]:
dropouts_rp_2011 =dropouts_rp.iloc[:, [0,1,2,6,7,8]]
dropouts_rp_2012 =dropouts_rp.iloc[:, [0,1,2,9,10,11]]
dropouts_rp_2013 =dropouts_rp.iloc[:, [0,1,2,12,13,14]]
dropouts_rp_2014 =dropouts_rp.iloc[:, [0,1,2,15,16,17]]
dropouts_rp_2015 =dropouts_rp.iloc[:, [0,1,2,18,19,20]]
dropouts_rp_2016 =dropouts_rp.iloc[:, [0,1,2,21,22,23]]
dropouts_rp_2017 =dropouts_rp.iloc[:, [0,1,2,24,25,26]]
dropouts_rp_2018 =dropouts_rp.iloc[:, [0,1,2,27,28,29]]
dropouts_rp_2019 =dropouts_rp.iloc[:, [0,1,2,30,31,32]]
dropouts_rp_2020 =dropouts_rp.iloc[:, [0,1,2,33,34,35]]
dropouts_rp_2021 =dropouts_rp.iloc[:, [0,1,2,36,37,38]]

### Saarland

In [130]:
dropouts_saar_2011 =dropouts_saar.iloc[:, [0,1,2,6,7,8]]
dropouts_saar_2012 =dropouts_saar.iloc[:, [0,1,2,9,10,11]]
dropouts_saar_2013 =dropouts_saar.iloc[:, [0,1,2,12,13,14]]
dropouts_saar_2014 =dropouts_saar.iloc[:, [0,1,2,15,16,17]]
dropouts_saar_2015 =dropouts_saar.iloc[:, [0,1,2,18,19,20]]
dropouts_saar_2016 =dropouts_saar.iloc[:, [0,1,2,21,22,23]]
dropouts_saar_2017 =dropouts_saar.iloc[:, [0,1,2,24,25,26]]
dropouts_saar_2018 =dropouts_saar.iloc[:, [0,1,2,27,28,29]]
dropouts_saar_2019 =dropouts_saar.iloc[:, [0,1,2,30,31,32]]
dropouts_saar_2020 =dropouts_saar.iloc[:, [0,1,2,33,34,35]]
dropouts_saar_2021 =dropouts_saar.iloc[:, [0,1,2,36,37,38]]

### Sachsen

In [131]:
dropouts_sachsen_2011 =dropouts_sachsen.iloc[:, [0,1,2,6,7,8]]
dropouts_sachsen_2012 =dropouts_sachsen.iloc[:, [0,1,2,9,10,11]]
dropouts_sachsen_2013 =dropouts_sachsen.iloc[:, [0,1,2,12,13,14]]
dropouts_sachsen_2014 =dropouts_sachsen.iloc[:, [0,1,2,15,16,17]]
dropouts_sachsen_2015 =dropouts_sachsen.iloc[:, [0,1,2,18,19,20]]
dropouts_sachsen_2016 =dropouts_sachsen.iloc[:, [0,1,2,21,22,23]]
dropouts_sachsen_2017 =dropouts_sachsen.iloc[:, [0,1,2,24,25,26]]
dropouts_sachsen_2018 =dropouts_sachsen.iloc[:, [0,1,2,27,28,29]]
dropouts_sachsen_2019 =dropouts_sachsen.iloc[:, [0,1,2,30,31,32]]
dropouts_sachsen_2020 =dropouts_sachsen.iloc[:, [0,1,2,33,34,35]]
dropouts_sachsen_2021 =dropouts_sachsen.iloc[:, [0,1,2,36,37,38]]

### Sachsen-Anhalt

In [132]:
dropouts_sa_anh_2011 =dropouts_sa_anh.iloc[:, [0,1,2,6,7,8]]
dropouts_sa_anh_2012 =dropouts_sa_anh.iloc[:, [0,1,2,9,10,11]]
dropouts_sa_anh_2013 =dropouts_sa_anh.iloc[:, [0,1,2,12,13,14]]
dropouts_sa_anh_2014 =dropouts_sa_anh.iloc[:, [0,1,2,15,16,17]]
dropouts_sa_anh_2015 =dropouts_sa_anh.iloc[:, [0,1,2,18,19,20]]
dropouts_sa_anh_2016 =dropouts_sa_anh.iloc[:, [0,1,2,21,22,23]]
dropouts_sa_anh_2017 =dropouts_sa_anh.iloc[:, [0,1,2,24,25,26]]
dropouts_sa_anh_2018 =dropouts_sa_anh.iloc[:, [0,1,2,27,28,29]]
dropouts_sa_anh_2019 =dropouts_sa_anh.iloc[:, [0,1,2,30,31,32]]
dropouts_sa_anh_2020 =dropouts_sa_anh.iloc[:, [0,1,2,33,34,35]]
dropouts_sa_anh_2021 =dropouts_sa_anh.iloc[:, [0,1,2,36,37,38]]

### Schleswig-Holstein

In [133]:
dropouts_sh_2011 =dropouts_sh.iloc[:, [0,1,2,6,7,8]]
dropouts_sh_2012 =dropouts_sh.iloc[:, [0,1,2,9,10,11]]
dropouts_sh_2013 =dropouts_sh.iloc[:, [0,1,2,12,13,14]]
dropouts_sh_2014 =dropouts_sh.iloc[:, [0,1,2,15,16,17]]
dropouts_sh_2015 =dropouts_sh.iloc[:, [0,1,2,18,19,20]]
dropouts_sh_2016 =dropouts_sh.iloc[:, [0,1,2,21,22,23]]
dropouts_sh_2017 =dropouts_sh.iloc[:, [0,1,2,24,25,26]]
dropouts_sh_2018 =dropouts_sh.iloc[:, [0,1,2,27,28,29]]
dropouts_sh_2019 =dropouts_sh.iloc[:, [0,1,2,30,31,32]]
dropouts_sh_2020 =dropouts_sh.iloc[:, [0,1,2,33,34,35]]
dropouts_sh_2021 =dropouts_sh.iloc[:, [0,1,2,36,37,38]]

### Thüringen

In [ ]:
dropouts_th_2011 =dropouts_th.iloc[:, [0,1,2,6,7,8]]
dropouts_th_2012 =dropouts_th.iloc[:, [0,1,2,9,10,11]]
dropouts_th_2013 =dropouts_th.iloc[:, [0,1,2,12,13,14]]
dropouts_th_2014 =dropouts_th.iloc[:, [0,1,2,15,16,17]]
dropouts_th_2015 =dropouts_th.iloc[:, [0,1,2,18,19,20]]
dropouts_th_2016 =dropouts_th.iloc[:, [0,1,2,21,22,23]]
dropouts_th_2017 =dropouts_th.iloc[:, [0,1,2,24,25,26]]
dropouts_th_2018 =dropouts_th.iloc[:, [0,1,2,27,28,29]]
dropouts_th_2019 =dropouts_th.iloc[:, [0,1,2,30,31,32]]
dropouts_th_2020 =dropouts_th.iloc[:, [0,1,2,33,34,35]]
dropouts_th_2021 =dropouts_th.iloc[:, [0,1,2,36,37,38]]