In [50]:
import pandas as pd

In [51]:
abiturnoten_2010 = pd.read_csv("capstone_project_hh_23_1/data/Converted to CSV/Aus_Abiturnoten_2010/Verteilung-Table 1.csv",
                   encoding='latin-1', delimiter=(';'))
abiturnoten_2010.head()

,Land,BW,BY,BE,BB,HB,HH,HE,MV,NI,NW,RP,SL,SN,ST,SH,TH
0,Zahl der PrÃ¼fungen,47.635,39.196,13.614,10.268,3.017,13.087,23.119,5.802,31.561,76.662,15.887,3.386,9.167,5.236,10.699,6.648
1,- bestanden,46.277,38.840,12.955,9.916,2.904,12.733,22.554,5.581,30.296,75.049,15.710,3.315,8.830,4.850,10.590,6.536
2,- nicht bestanden (abs.),1.358,356,659,352,113,354,565,221,1.265,1.613,177,71,337,386,109,112
3,- nicht bestanden (%),"2,9","0,9","4,8","3,4","3,7","2,7","2,4","3,8","4,0","2,1","1,1","2,1","3,7","7,4","1,0","1,7"
4,Notenmittel,"2,44","2,40","2,48","2,40","2,45","2,49","2,44","2,43","2,62","2,56","2,60","2,46","2,45","2,52","2,60","2,30"

In [53]:
noten2010 = abiturnoten_2010.iloc[7:37, 1:18].copy()

In [66]:
noten2010.head()

,BW,BY,BE,BB,HB,HH,HE,MV,NI,NW,RP,SL,SN,ST,SH,TH
7,"0,80","0,88","0,74","1,26","0,69","0,87","0,98","0,88","0,50","0,80","0,92","0,72","0,53","0,85","0,46","1,67"
8,"1,20","1,15","0,97","1,46","1,38","1,16","1,30","1,04","0,73","1,13","0,81","1,03","1,05","1,24","0,48","1,93"
9,"1,56","1,71","1,63","1,92","1,96","1,49","1,79","1,74","1,09","1,41","1,01","1,57","1,52","1,59","1,04","2,34"
10,"2,04","1,92","1,74","2,38","2,65","1,89","1,88","1,81","1,28","1,60","1,33","1,69","1,88","1,75","1,21","2,94"
11,"2,47","2,48","1,96","3,26","3,10","2,49","2,35","2,24","1,59","2,03","1,90","2,02","2,17","2,31","1,52","3,30"

In [69]:
noten2010 = noten2010.apply(lambda x: x.str.replace(',','.'))

In [70]:
noten2010.describe()

,BW,BY,BE,BB,HB,HH,HE,MV,NI,NW,RP,SL,SN,ST,SH,TH
count,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30
unique,30,29,27,29,27,30,28,26,30,30,29,26,26,29,30,28
top,0.80,0.02,0.00,5.50,0.03,0.87,5.65,0.00,0.50,0.80,5.89,0.00,3.61,0.00,0.46,0.00
freq,1,2,2,2,2,1,2,3,1,1,2,2,3,2,1,2

In [83]:
noten2010[['BW','BY','BE','BB','HB','HH','HE','MV','NI','NW','RP','SL','SN','ST','SH','TH']] = noten2010[['BW','BY','BE','BB','HB','HH','HE','MV','NI','NW','RP','SL','SN','ST','SH','TH']].astype(float)

In [84]:
noten2010.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 7 to 36
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   BW      30 non-null     float64
 1   BY      30 non-null     float64
 2   BE      30 non-null     float64
 3   BB      30 non-null     float64
 4   HB      30 non-null     float64
 5   HH      30 non-null     float64
 6   HE      30 non-null     float64
 7   MV      30 non-null     float64
 8   NI      30 non-null     float64
 9   NW      30 non-null     float64
 10  RP      30 non-null     float64
 11  SL      30 non-null     float64
 12  SN      30 non-null     float64
 13  ST      30 non-null     float64
 14  SH      30 non-null     float64
 15  TH      30 non-null     float64
dtypes: float64(16)
memory usage: 3.9 KB

Short explanation of the describe measures:
- count: Indication of how many values are present in the columns (NaNs/missing values are not counted).
- mean: average value of the data
- std: standard deviation of the data
- min: the smallest value in the data set
- 25%: 25 % of the data are below this value
- 50%: 50% of the data are below this value. This value is called the median.
- 75%: 75% of the data are below this value
- max: the largest expression in the data set

In [85]:
noten2010.describe()

,BW,BY,BE,BB,HB,HH,HE,MV,NI,NW,RP,SL,SN,ST,SH,TH
count,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000
mean,3.291667,3.303000,3.300667,3.280667,3.297667,3.296333,3.292000,3.296667,3.312667,3.300333,3.305667,3.287333,3.306333,3.306667,3.315667,3.271333
std,2.006529,2.077554,2.147295,1.911437,1.847876,1.921157,2.021153,2.121547,2.198926,1.874827,2.055827,2.166569,2.142157,2.085555,2.271976,1.893003
min,0.000000,0.020000,0.000000,0.000000,0.030000,0.000000,0.000000,0.000000,0.000000,0.020000,0.020000,0.000000,0.020000,0.000000,0.040000,0.000000
25%,1.630000,1.665000,1.615000,1.687500,2.037500,1.642500,1.795000,1.567500,1.357500,1.707500,1.472500,1.600000,1.317500,1.630000,1.287500,1.840000
50%,3.570000,3.515000,3.580000,3.670000,3.685000,3.660000,3.585000,3.610000,3.210000,3.465000,3.390000,3.860000,3.610000,3.145000,3.335000,3.995000
75%,5.220000,5.235000,5.342500,4.897500,4.790000,4.880000,5.285000,5.175000,5.332500,5.097500,5.102500,5.100000,5.397500,5.270000,5.532500,4.857500
max,5.850000,6.260000,6.280000,5.600000,5.650000,5.840000,6.120000,6.180000,6.530000,5.720000,6.140000,6.210000,6.000000,6.410000,6.630000,6.040000

In [22]:
DLAND = pd.read_csv("capstone_project_hh_23_1/data/21111-0013-DLAND_$F.csv",
                   encoding='latin-1', delimiter=(';'))
DLAND

                                                                                                                                                                                                                                                                                                                                                                                                                                                                     GENESIS-Tabelle: 21111-0013
Absolventen und Abgänger: Bundesländer, Schuljahr, NaN                       NaN                       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN                               NaN
Geschlecht, Schulart, Schulabschlüsse              NaN                       NaN                       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN                               NaN
Statistik der allgemeinbildenden Schulen           NaN                       NaN                       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN                               NaN
Absolventen und Abgänger (Anzahl)                  NaN                       NaN                       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN                               NaN
NaN                                                NaN                       NaN                       Schuljahr Schuljahr Schuljahr Schuljahr Schuljahr Schuljahr Schuljahr Schuljahr Schuljahr Schuljahr Schuljahr Schuljahr Schuljahr Schuljahr Schuljahr Schuljahr Schuljahr Schuljahr Schuljahr Schuljahr Schuljahr Schuljahr Schuljahr Schuljahr Schuljahr Schuljahr Schuljahr Schuljahr Schuljahr Schuljahr Schuljahr Schuljahr Schuljahr Schuljahr Schuljahr                   Schuljahr
...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          ...
Bayern                                             Integrierte Gesamtschulen Fachhochschulreife        -         -         -         -         -         -         -         -         -         -         -         -         -         -         -         -         -         -         -         -         -         -         -         -         -         -         -         -         -         -         -         -         -         -         -                                   -
                                                                             Allgemeine Hochschulreife -         -         -         -         -         -         -         -         -         -         -         -         -         -         -         -         -         -         -         -         -         -         -         -         -         -         -         -         -         -         -         -         -         -         -                                   -
                                                                             Insgesamt                 149       142       291       145       148       293       162       134       296       172       141       313       177       172       349       183       164       347       165       152       317       165       152       317       140       132       272       157       151       308       148       122       270       124       132                               256
                                                   Freie Waldorfschulen      Ohne Hauptschulabschluss  56        48        104       62        55        117       75        62        137       65        77        142       64        63        127       67        61        128       87        60        147       64        61        125       64        64        128       17        14        31        69        67        136       57        62                                119
                                                                             Hauptschulabschluss       6         4         10        7         12        19        10        5         15        10        7         17        14        9         23        7         5         12        9         5         14        7         6         13        16        10        26        56        51        107       26        17        43        18        12                                 30

[100 rows x 1 columns]