In [1]:
import pandas as pd

In [9]:
df = pd.read_csv("./data/graduation_gender_insgesamt.csv", delimiter=";")

In [10]:
df.head()

,Bundesland,Schulform,Schulabschluss,09_10_m,09_10_w,09_10_ins,10_11_m,10_11_w,10_11_ins,11_12_m,...,17_18_ins,18_19_m,18_19_w,18_19_ins,19_20_m,19_20_w,19_20_ins,20_21_m,20_21_w,20_21_ins
0,Baden-Württemberg,Insgesamt,Ohne Hauptschulabschluss,3798,2447,6245,3532,2390,5922,3575,...,6951,3935,2346,6281,3484,2128,5612,3860,2349,6209
1,Baden-Württemberg,Insgesamt,Hauptschulabschluss,18043,13956,31999,17413,13399,30812,13295,...,17493,10401,6690,17091,10433,7016,17449,9812,6383,16195
2,Baden-Württemberg,Insgesamt,Mittlerer Schulabschluss,25136,25014,50150,24660,24567,49227,25364,...,50602,26049,24718,50767,26254,24413,50667,24771,23688,48459
3,Baden-Württemberg,Insgesamt,Fachhochschulreife,164,149,313,136,174,310,180,...,350,184,204,388,196,193,389,194,194,388
4,Baden-Württemberg,Insgesamt,Allgemeine Hochschulreife,15258,18751,34009,15835,19539,35374,27498,...,33109,14405,17448,31853,13414,16129,29543,12939,15506,28445

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 39 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Bundesland      96 non-null     object
 1   Schulform       96 non-null     object
 2   Schulabschluss  96 non-null     object
 3   09_10_m         96 non-null     object
 4   09_10_w         96 non-null     object
 5   09_10_ins       96 non-null     object
 6   10_11_m         96 non-null     object
 7   10_11_w         96 non-null     object
 8   10_11_ins       96 non-null     object
 9   11_12_m         96 non-null     object
 10  11_12_w         96 non-null     object
 11  11_12_ins       96 non-null     object
 12  12_13_m         96 non-null     object
 13  12_13_w         96 non-null     object
 14  12_13_ins       96 non-null     object
 15  13_14_m         96 non-null     object
 16  13_14_w         96 non-null     object
 17  13_14_ins       96 non-null     object
 18  14_15_m         96 non-null     object
 19  14_15_w         96 non-null     object
 20  14_15_ins       96 non-null     object
 21  15_16_m         96 non-null     object
 22  15_16_w         96 non-null     object
 23  15_16_ins       96 non-null     object
 24  16_17_m         96 non-null     object
 25  16_17_w         96 non-null     object
 26  16_17_ins       96 non-null     object
 27  17_18_m         96 non-null     object
 28  17_18_w         96 non-null     object
 29  17_18_ins       96 non-null     object
 30  18_19_m         96 non-null     object
 31  18_19_w         96 non-null     object
 32  18_19_ins       96 non-null     object
 33  19_20_m         96 non-null     object
 34  19_20_w         96 non-null     object
 35  19_20_ins       96 non-null     object
 36  20_21_m         96 non-null     object
 37  20_21_w         96 non-null     object
 38  20_21_ins       96 non-null     object
dtypes: object(39)
memory usage: 29.4+ KB

In [12]:
# drop column 'Schulform' because it does not hold any import information and has the same value in each row.

df2 = df.drop(columns='Schulform')

In [13]:
df2.head()

,Bundesland,Schulabschluss,09_10_m,09_10_w,09_10_ins,10_11_m,10_11_w,10_11_ins,11_12_m,11_12_w,...,17_18_ins,18_19_m,18_19_w,18_19_ins,19_20_m,19_20_w,19_20_ins,20_21_m,20_21_w,20_21_ins
0,Baden-Württemberg,Ohne Hauptschulabschluss,3798,2447,6245,3532,2390,5922,3575,2376,...,6951,3935,2346,6281,3484,2128,5612,3860,2349,6209
1,Baden-Württemberg,Hauptschulabschluss,18043,13956,31999,17413,13399,30812,13295,10009,...,17493,10401,6690,17091,10433,7016,17449,9812,6383,16195
2,Baden-Württemberg,Mittlerer Schulabschluss,25136,25014,50150,24660,24567,49227,25364,25291,...,50602,26049,24718,50767,26254,24413,50667,24771,23688,48459
3,Baden-Württemberg,Fachhochschulreife,164,149,313,136,174,310,180,200,...,350,184,204,388,196,193,389,194,194,388
4,Baden-Württemberg,Allgemeine Hochschulreife,15258,18751,34009,15835,19539,35374,27498,32040,...,33109,14405,17448,31853,13414,16129,29543,12939,15506,28445