In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('fivethirtyeight')

#input custom functions
from exams_data import exams_2010, exams_2011, exams_2012, exams_2013, exams_2014, exams_2015, exams_2016, exams_2017, exams_2018, exams_2019, exams_2020, exams_2021, exams_2022

/Users/kamilkarim/neuefische/capstone_project_hh_23_1/exams_data.py:18: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  exams_data.iloc[:, 1:] = exams_data.iloc[:, 1:].apply(lambda x: x.str.replace('.', ''))
/Users/kamilkarim/neuefische/capstone_project_hh_23_1/exams_data.py:18: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  exams_data.iloc[:, 1:] = exams_data.iloc[:, 1:].apply(lambda x: x.str.replace('.', ''))
/Users/kamilkarim/neuefische/capstone_project_hh_23_1/exams_data.py:18: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  exams_data.iloc[:, 1:] = exams_data.iloc[:, 1:].apply(lambda x: x.str.replace('.', ''))
/Users/kamilkarim/neuefische/capstone_project_hh_23_1/exams_data.py:18: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  exams_data.iloc[:, 1:] = exams_data.iloc[:, 1:].apply(lambda x: x.str.replace('.', ''))
/Users/kamilkarim/neuefische/capstone_project_hh_23_1/exams_data.py:18: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  exams_data.iloc[:, 1:] = exams_data.iloc[:, 1:].apply(lambda x: x.str.replace('.', ''))
/Users/kamilkarim/neuefische/capstone_project_hh_23_1/exams_data.py:18: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  exams_data.iloc[:, 1:] = exams_data.iloc[:, 1:].apply(lambda x: x.str.replace('.', ''))
/Users/kamilkarim/neuefische/capstone_project_hh_23_1/exams_data.py:18: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  exams_data.iloc[:, 1:] = exams_data.iloc[:, 1:].apply(lambda x: x.str.replace('.', ''))
/Users/kamilkarim/neuefische/capstone_project_hh_23_1/exams_data.py:18: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  exams_data.iloc[:, 1:] = exams_data.iloc[:, 1:].apply(lambda x: x.str.replace('.', ''))
/Users/kamilkarim/neuefische/capstone_project_hh_23_1/exams_data.py:18: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  exams_data.iloc[:, 1:] = exams_data.iloc[:, 1:].apply(lambda x: x.str.replace('.', ''))
/Users/kamilkarim/neuefische/capstone_project_hh_23_1/exams_data.py:18: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  exams_data.iloc[:, 1:] = exams_data.iloc[:, 1:].apply(lambda x: x.str.replace('.', ''))
/Users/kamilkarim/neuefische/capstone_project_hh_23_1/exams_data.py:18: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  exams_data.iloc[:, 1:] = exams_data.iloc[:, 1:].apply(lambda x: x.str.replace('.', ''))
/Users/kamilkarim/neuefische/capstone_project_hh_23_1/exams_data.py:18: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  exams_data.iloc[:, 1:] = exams_data.iloc[:, 1:].apply(lambda x: x.str.replace('.', ''))
/Users/kamilkarim/neuefische/capstone_project_hh_23_1/exams_data.py:18: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  exams_data.iloc[:, 1:] = exams_data.iloc[:, 1:].apply(lambda x: x.str.replace('.', ''))

In [6]:
exams_concat = pd.concat([exams_2010, exams_2011, exams_2012,
                          exams_2013, exams_2014, exams_2015,
                          exams_2016, exams_2017, exams_2018,
                          exams_2019, exams_2020, exams_2021,
                          exams_2022
                          ], ignore_index=True)

Short explanation of the describe measures:
- count: Indication of how many values are present in the columns (NaNs/missing values are not counted).
- mean: average value of the data
- std: standard deviation of the data
- min: the smallest value in the data set
- 25%: 25 % of the data are below this value
- 50%: 50% of the data are below this value. This value is called the median.
- 75%: 75% of the data are below this value
- max: the largest expression in the data set

In [7]:
exams_concat.describe()

       Examinations Total  Passed Examinations  Failed Examinations
count          208.000000           208.000000           208.000000
mean         21219.120192         20517.745192           701.375000
std          22714.165428         22084.243097           684.108266
min           2722.000000          2583.000000             0.000000
25%           5799.250000          5611.750000           230.750000
50%          12420.000000         11950.000000           434.000000
75%          30122.250000         29130.500000           928.500000
max         126757.000000        123896.000000          3616.000000

In [8]:
exams_concat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208 entries, 0 to 207
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Federal States       208 non-null    object
 1   Examinations Total   208 non-null    int64
 2   Passed Examinations  208 non-null    int64
 3   Failed Examinations  208 non-null    int64
 4   year                 208 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 8.2+ KB

In [9]:
exams_concat

,Federal States,Examinations Total,Passed Examinations,Failed Examinations,year
0,BW,47635,46277,1358,2010-01-01
1,BY,39196,38840,356,2010-01-01
2,BE,13614,12955,659,2010-01-01
3,BB,10268,9916,352,2010-01-01
4,HB,3017,2904,113,2010-01-01
...,...,...,...,...,...
203,SL,3325,3176,149,2022-01-01
204,SN,13404,12908,496,2022-01-01
205,ST,5643,5362,281,2022-01-01
206,SH,11748,11210,538,2022-01-01
207,TH,6399,6292,107,2022-01-01

In [ ]:
fig, ax = plt.subplots(2,3, figsize=(20,10)) # create subplots on 2 rows and 3 columns
plt.suptitle('Distribution of grades', fontsize=20)
fig.tight_layout() # tight_layout automatically adjusts subplot params so that the subplot(s) fits in to the figure area
plt.subplots_adjust(hspace = .5, wspace = .2, top = .9) # adjusts the space between the single subplots

ax[0][0].hist(x=exams_2022['BW'], bins=832)  # creates histogram for number of frequency
ax[0][0].set_ylabel("No of people by grade", fontsize = 10) # sets the label y-axis
ax[0][0].set_xlim(0,4.000000) # limits the x-axis values from 0 to 1000000 
ax[0][0].set_title("Totals of Examinations, Passed and Failed", fontsize = 15);  # sets title for subplot

In [ ]:
fig, ax = plt.subplots(2,3, figsize=(20,10)) # create subplots on 2 rows and 3 columns
plt.suptitle('Distribution of grades', fontsize=20)
fig.tight_layout() # tight_layout automatically adjusts subplot params so that the subplot(s) fits in to the figure area
plt.subplots_adjust(hspace = .5, wspace = .2, top = .9) # adjusts the space between the single subplots

ax[0][0].hist(x=exams_2022['BW'], bins=832)  # creates histogram for number of frequency
ax[0][0].set_ylabel("No of people by grade", fontsize = 10) # sets the label y-axis
ax[0][0].set_xlim(0,4.000000) # limits the x-axis values from 0 to 1000000 
ax[0][0].set_title("Distribution of views count", fontsize = 15);  # sets title for subplot

In [ ]:
plt.figure(figsize=(15,8)) # specify figure size
f1 = sns.barplot(x=exams_2022['Totals'], y=exams_2022['NW']) # create plot
f1.tick_params(axis=('both'), rotation=90) # get x-ticks and rotate them
f1.set(xlabel=None) # set no label for x-axis
f1.set_ylabel("Grades", fontsize = 10); # set label for y-axis
f1.set_title('Totals', fontsize=20); # set title